//可寫入web font的地方
@import url('https://fonts.googleapis.com/css?family=Oswald:200')
@mixin fontSty
    font-family: 'Microsoft YaHei','微軟正黑體',Arial,Helvetica,sans-serif,'STHeiti Light','儷黑 Pro','LiHei Pro','新細明體'

//全域樣式，設定全站樣式統一的地方
.clearfix:after 
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
//.clearfix { display: inline-block;}
html[xmlns] .clearfix 
    display: block
* html .clearfix
    height: 1%
//全域樣式
body
    // min-width: 1024px
    +fontSty
    font-size: 16px
    color: #000
    background: #000
    
input,textarea,select
    +fontSty
    color: #555

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button 
    appearance: none

input[type=number] 
    -moz-appearance: textfield


