@media screen and (max-width: 1600px)
    //=== PRODUCT PART 1600 ===
    .product-part-side
        width: 300px
    .product-part-cont
        width: calc(100% - 300px)
@media screen and (max-width: 1500px)
    //=== PRODUCT PART 1500 ===
    .product-part-side
        width: 200px
    .product-part-cont
        width: calc(100% - 200px)
        padding-right: 40px
    .product-part-two-info-cont:after
        right: -40px
    .product-part-two-info-sw
        width: 90%

    //=== footer 1500 ===
    .footer-logo-area
        width: calc(100% - 930px)
    .footer-link-area
        width: 930px
@media screen and (max-width: 1400px)
    nav
        .logo
            width: 700px
            height: 108px
    .banner-txt-area
        .tit
            margin-right: 70px
    //=== ZONFI BASIC 1400 ===
    .product-basic-cont
        width: 100%
        padding: 0 40px
        justify-content: $c

    //=== PRODUCT PART 1400 ===
    .product-part-cont1
        width: 100%
    .product-part-one-info-cont
        width: 45%
    .product-part-one-info
        .tit
            font-size: 56px
    .product-part-one-img-cont
        width: 50%
    .product-part-one-img
        height: 0
        padding-bottom: 120%
    .part-two-info
        padding-right: 60px

    .product-part-about-area
        width: 100%
    .product-part-about-img
        width: 47%
    .part-about-img
        height: 0
        padding-bottom: 123.9%
    .product-part-about-info
        width: 47%
        padding-right: 50px

@media screen and (max-width: 1200px)
    .cookie-box
        padding: 12px 20px
    nav
        padding: 20px
    .banner-txt-area
        padding: 20px 50px 20px 20px
        .tit
            margin-right: 50px
        .txt
            width: 600px
    .video-btn
        right: 20px
        bottom: 20px

    //=== 商品sw 1200 ===
    .product-tab-area
        width: 90%
    .product-sw
        width: 90%
    .product-sw-img
        height: 0
        padding-bottom: 66.5%
    .product-sw-tit
        width: 100%
        // font-size: 42px
        // line-height: 50px
        // letter-spacing: 1.5px

    //=== ZONFI BASIC 1200 ===
    .product-basic-img-sw-cont
        width: calc(100% - 590px)
        margin-right: 50px
    .part-two-info
        padding-right: 40px
        
    .product-part-about-info
        padding-right: 0

    //=== footer 1200 ===
    .footer-logo-area
        width: 270px
    .footer-link-area
        width: calc(100% - 270px)
    .footer-link-group
        width: 250px
    .footer-link-box
        margin-right: 40px
    .footer-img
        width: calc(100% - 280px)
    

@media screen and (max-width: 1023px) 
    nav
        .logo
            width: 500px
            height: 78px
    //=== ZONFI BASIC 1023 ===
    .product-basic-mb-tab-sw-cont
        display: block
    .product-basic-img-sw-cont
        max-width: 540px
        width: 540px
        margin-right: 0
    .product-basic-info-area
        padding-top: 50px
        .product-info-tab
            display: none

    //=== PRODUCT PART 1023 ===
    .product-part-side
        width: 150px
    .product-part-cont
        width: calc(100% - 150px)
    .product-part-one-area
        justify-content: $c
    // .product-part-cont1
    //     .product-info-tab
    //         margin: 0 auto 50px
    .product-part-tab-box
        width: 500px
        margin: 0 auto 50px
    .product-part-one-info-cont
        width: 500px
        order: 1
    .product-part-one-img-cont
        width: 500px
        order: 0

    //=== footer 1023 ===
    .footer-logo-area
        width: 200px
    .footer-link-area
        width: calc(100% - 200px)
    
    .footer-logo-box
        padding: 20px
    .footer-logo-txt
        .txt
            padding: 0 20px 20px
    .copyright
        padding: 20px
    .footer-link-area
        padding: 20px
    .footer-link-box
        margin-right: 20px
    .footer-link-group
        width: 230px
    .footer-img
        width: calc(100% - 250px)


@media screen and (max-width: 767px)
    //767以下即涵蓋手機版，以手機版呈現
    .cookie-box
        // padding: 15px 20px
        .txt
            line-height: 18px
    nav
        height: 70px
        .logo
            width: 305px
            height: 48px
    .nav-btn
        width: 30px
        height: 30px
    .pc-banner
        display: none
    .mb-banner
        display: block
    .banner-txt-area
        .tit
            margin: 0 0 20px
        .txt
            font-size: 14px
            line-height: 20px
            height: auto
    .video-btn
        width: 32px
        height: 32px
        display: none

    //=== side nav 767 ===
    .side-nav-area
        padding: 35px 20px 30px
    .side-nav-tit
        margin: 0 0 43px
    .side-nav-top
        width: 100%
    .nav-banner
        margin: 0 0 30px
    .side-nav-bot
        font-size: 18px
    .nav-social-box
        a
            margin: 0 0 12px

    //=== 前言 767 ===
    .slogan-txt
        font-size: 18px
        letter-spacing: 1.5px

    //=== product basic 767 ===
    .product-tab-area
        width: 100%
        padding: 0 40px
        .swiper-slide
            margin-right: 0
    .product-sw-box
        padding: 0 40px
    .product-sw
        width: 100%
        .swiper-slide-active
            .product-mb-info
                opacity: 1
    .product-sw-btn
        display: none
    .product-sw-tit
        font-size: 42px
        line-height: 50px
        letter-spacing: 1.5px
        width: 100%
        padding: 35px 0 25px
    .product-mb-info
        display: block
        transition: .2s

    .product-area2
        padding: 200px 0
    
    //=== ZONFI BASIC 767 ===
    .product-basic-area
        padding: 190px 0 65px
    .product-basic-cont
        padding: 0 20px
    .product-basic-mb-tab-sw-cont
        width: 100%
        padding-left: 30px
    .product-info-mb-tab
        .swiper-slide
            margin-right: 0
        .tab
            font-size: 24px
            padding: 12px 0
            &:hover
                padding: 12px
    .product-basic-img-sw-cont
        width: 100%
        max-width: none
    .product-basic-img
        margin: 0 0 30px
    .product-basic-img-txt
        font-size: 32px
        letter-spacing: -0.6px
    .product-basic-info-area
        width: 100%
        padding: 40px 10px 0
    .basic-info-txt-box
        height: 565px
        margin: 0 0 30px
    .basic-info-txt
        .title
            padding: 0 0 20px
            margin: 0 0 30px
            border-bottom: 1px solid $md-color
        .list-box
            line-height: 1
            margin: 0 0 35px
            &:last-child
                margin: 0
            .tit
                width: 100%
                margin: 0 0 20px
                letter-spacing: 1.5px
            .cont
                width: 100%
    .basic-more-btn
        justify-content: $c
        margin: 0 0 20px
        span
            display: none
    .basic-btn-box
        .basic-btn
            margin-bottom: 30px
    .big-product-img-area
        .close
            top: 20px
            right: 20px

    //=== PRODUCT PART 767 ===
    //- fixed end
    .product-part-area
        &:after
            bottom: 59px
    .product-part-side
        display: none
    .product-part-cont1
        padding: 125px 0 100px
        .product-info-tab
            .tab
                font-size: 18px
    .product-part-tab-box
        width: 100%
        padding-left: 30px
        .swiper-slide
            margin-right: 0
    .product-part-cont
        width: 100%
        padding: 0 20px
    .product-part-one-info-cont
        width: 100%
        padding: 0 10px
    .product-part-one-info
        .tit
            font-size: 42px
            line-height: 50px
            letter-spacing: 1.5px
            margin: 0 0 30px
    .product-part-one-img-cont
        width: 100%
        margin: 0 0 40px
    
    .product-part-cont2
        padding: 100px 10px
        .product-part-tit
            font-size: 30px
            line-height: 40px
            letter-spacing: -0.6px
            margin: 0 0 100px
    .product-part-two-info-cont:after
        display: none
    .product-part-two-info-sw
        width: 100%
        overflow: hidden
        .swiper-slide
            height: unset
            border-right: 0
    .part-two-info
        padding-right: 0
        .tit-box
            margin: 0 0 40px
            .en
                font-size: 25px
                letter-spacing: 0.8px
            .zh
                font-size: 25px

    .product-part-cont3
        padding: 100px 0 220px//+60 //- 160 fixed end
    .product-part-about-area
        margin: 0 0 120px
        &:nth-child(even)
            flex-direction: initial
    .product-part-about-img
        width: 100%
        margin: 0 0 40px
    .product-part-about-info
        width: 100%
        padding: 0 10px
        .tit-box
            margin: 0 0 45px
            .tit.en
                font-size: 45px
                letter-spacing: 1.5px
                line-height: 52px
            .tit.zh
                font-size: 28px
                letter-spacing: 1.5px
                line-height: 48px
        .cont
            p
                letter-spacing: 0.8px
    .product-part-mb-tab-area
        display: flex

    //=== footer 767 ===
    .footer-area
        border-top: 1px solid #534A43

    .footer-logo-area
        width: 100%
    .footer-logo-box
        padding: 40px 40px 50px
    .footer-logo-txt
        .txt
            padding: 0 40px 40px
    .copyright
        display: none
    .footer-link-area
        width: 100%
        padding: 40px 40px 0
    .footer-img
        display: none
    .footer-link-group
        width: 100%
    .footer-link-cont
        width: 100%
    .footer-link-box
        width: 100%
        margin: 0 0 30px
        &:last-child
            margin: 0
        .tit
            font-size: 18px
            letter-spacing: 0.8px
            margin: 0 0 30px
        .f-mb-tit
            +flex($sb,$c)
            +tcursor
            &:after
                content: ''
                display: block
                width: 26px
                height: 15px
                background: url(../img/arrow.svg) no-repeat center center/contain
                transition: .2s
        .f-mb-tit.on
            &:after
                transform: rotateX(180deg)
        .link
            font-size: 18px
            letter-spacing: 0.8px
            li
                margin: 0 0 30px
        .link.en
            font-size: 16px
            letter-spacing: 0.18px
            margin: 0 0 30px
            display: none
            li
                margin: 0 0 20px
                &:last-child
                    margin: 0
    .footer-back
        display: none
    .footer-mb-back-box
        display: flex
    .marquee-box
        font-size: 50px
        letter-spacing: -0.83px
        padding-right: 20px


@media screen and (max-width: 480px)
    .cookie-box
        padding: 15px 20px
        br
            display: block
    nav
        top: 66px
    .side-nav-area
        width: 100%
        right: -100%
        height: calc(100vh - 66px)
    .banner-area
        height: calc(100vh - 66px)

    //=== 前言 480 ===
    .slogan-area-top
        height: 0
    .slogan-area
        height: 100vh
        padding: 0
    .slogan-bg
        width: 75%//80
        height: 0
        padding-bottom: 56%//60
        +position(50%,null,null,50%,1)
        transform: translate(-50%,-50%)
    
    .product-area1
        padding: 140px 0 190px
    .product-tab-area
        font-size: 18px
        margin: 0 0 50px
    .product-sw
        .swiper-slide-next
            .product-sw-img
                transform: scale(0.73) translateX(-14.5%) !important
        .swiper-slide-prev
            .product-sw-img
                transform: scale(0.73) translateX(14.5%) !important

@media screen and (max-width: 375px)
    nav
        .logo
            width: 250px
            height: 39px
    