//浮動控制
=position($top,$right,$bottom,$left,$zindex)
	position: absolute
	top     : $top
	right   : $right
	bottom  : $bottom
	left    : $left
	z-index : $zindex

//輸入框的樣式 input
//顏色、背景色、圓角、間距
=inputSty($color,$bg,$bor-r,$pad)
	color: $color
	background : $bg
	border-radius : $bor-r
	padding     : $pad

//按鈕類項目 btn
//顏色、背景色、圓角、間距
=btn($color,$bg,$bor-r,$pad)
	color: $color
	background: $bg
	border-radius: $bor-r
	padding: $pad
//隱藏文字
=ht
	white-space: nowrap
	text-indent: 100%
	overflow: hidden
//裁切文字
=ct
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
//display middle
=dvm
	display: inline-block
	vertical-align: middle
//display top
=dvt
	display: inline-block
	vertical-align: top
	
//display bottom
=dvb
	display: inline-block
	vertical-align: bottom

=tcursor
	cursor: pointer
	transition: .2s

//flexBox https://www.oxxostudio.tw/articles/201501/css-flexbox.html
$flex-s: flex-start
$flex-e: flex-end
$str: stretch	//如果要寫這父層撐開 他會看父層容器高度
$c: center
$sb: space-between
$sa: space-around
$bsl: baseline

=flex($just-cont,$align-item)
	display: flex
	flex-wrap: wrap
	justify-content: $just-cont
	align-items: $align-item

//如果外框有高度才使用
=flexs($just-cont,$align-cont)
	display: flex
	flex-wrap: wrap
	justify-content: $just-cont
	align-content: $align-cont

//justify-content 左右對齊
//預設：flex-start,重右開始排：flex-end,都聚在中間：center,左右貼齊分配：space-between,居中分配：space-around
//align-items 單行上下對齊
//對其上：flex-start,對齊下：flex-end,居中對齊：center,預設 都撐開：stretch, 內容底線對齊：baseline
//align-content 多行 "沒有"baseline
//前四個相同,上下方開對齊：space-between,上下均分對齊：space-around
//flex-flow 和 flex-wrap 和 flex-direction 可以改變排列順序 : wrap-reverse 相反

//文字幾行後顯示點點點
=ctline($num)
	overflow: hidden
	text-overflow: ellipsis
	display: -webkit-box
	-webkit-box-orient: vertical
	-webkit-line-clamp: $num

//背景模糊 - 3px
=bgblur($num)
	backdrop-filter: blur($num)
	-webkit-backdrop-filter: blur($num)
	-moz-backdrop-filter: blur($num)

//圖片full cover - 層級
=imgfull($num)
	width: 100%
	height: 100%
	object-fit: cover
	+position(0,null,null,0,$num)