@import reset
//全站a ul li h1-h6 img 等基本設定
@import color
//字色 主色系與輔助色 物件色系
@import mixins
//浮動 btn 圓角 ht ct 等設定
@import global
//全域樣式，設定全站樣式統一的地方(文字顏色字型大小和input及按鈕)
@import input_sty
//input 樣式

.cookie-box
    font-size: 12px
    color: $m-color
    letter-spacing: 0.2px
    line-height: 1
    padding: 12px 40px
    background: #000
    +flex($sb,$c)
    position: sticky
    top: 0
    z-index: 3
    br
        display: none
    .txt
        a
            color: $m-color
            margin: 0 3px
            text-decoration: underline
.cookie-btn-box
    +flex($flex-s,$c)
.cookie-btn
    letter-spacing: 1px
    margin-right: 12px
    border: 1px solid $m-color
    border-radius: 20px
    padding: 6px 9px
    +tcursor
    &:last-child
        opacity: 0.3
        margin-right: 0

nav.bg
    +grad-nav-bg
nav
    width: 100%
    // height: 100px
    padding: 40px 40px 20px
    +flex($sb,$flex-s)
    position: fixed
    top: 50px
    z-index: 4
    box-sizing: border-box
    .logo
        width: 998px
        height: 156px
        position: relative
        transition: .2s
        img
            +imgfull(1)
            transition: .5s
        #blogo
            +position(0,null,null,0,1)
            opacity: 0
    .logo.on
        width: 128px
        height: 20px
nav.nocookie
    top: 0
nav.wbg
    #blogo,#bPlus
        opacity: 1
    #wlogo,#wPlus
        opacity: 0
.nav-btn
    width: 40px
    height: 40px
    +tcursor
    position: relative
    // z-index: 3
    z-index: 5
    img
        width: 100%
        height: 100%
        object-fit: contain
        transition: .5s
    #bPlus
        opacity: 0
        +position(0,null,null,0,1)
    &:hover
        opacity: 0.8
.nav-btn.sideAct
    transform: rotate(135deg)
    #wPlus
        opacity: 1
    #bPlus
        opacity: 0
.side-nav-area
    width: 430px
    // height: 1030px
    height: calc(100vh - 50px)
    padding: 40px
    +position(0,-430px,null,null,4)
    background: #1f1f1f
    +flexs($flex-s,$sb)
    overflow: scroll
    transition: .2s
.side-nav-area.on
    right: 0
.side-nav-area.nocookie
    height: 100vh
.side-nav-tit
    margin: 0 0 35px
    +flex($sb,$flex-s)
    .nav-tit
        font-size: 26px
        color: $m-color
        line-height: 22px
        letter-spacing: -0.3px
    .close
        width: 31px
        height: 31px
        margin-top: 4px
        background: url(../img/icon_close.svg) no-repeat center center/contain
        +tcursor
        &:hover
            opacity: 0.8
.nav-banner
    margin: 0 0 40px
    border-radius: 10px
    overflow: hidden
    img
        width: 100%
.nav-box-tit
    padding: 25px 0
    border-bottom: 1px solid $m-color
    +tcursor
    +flex($sb,$c)
    position: relative
    .tit
        font-size: 18px
        color: $m-color
        line-height: 1
        letter-spacing: 1px
        position: relative
        z-index: 2
    .icon
        width: 26px
        height: 15px
        background: url(../img/arrow.svg) no-repeat center center/contain
        transition: .2s
        position: relative
        z-index: 2
    &:hover
        padding: 25px
        // background: rgba(#403229,0.6)
        &:after
            height: 100%
    span
        display: inline-block
        position: relative
        z-index: 2
    &:after
        content: ''
        display: block
        width: 100%
        height: 0
        background: rgba($md-color,0.6)
        +position(null,null,0,0,1)
        transition: .3s
.nav-box-tit.on
    padding: 25px
    .icon
        transform: rotateX(180deg)
    // background: rgba(#403229,0.6)
.nav-sub-box
    font-size: 18px
    line-height: 1
    letter-spacing: 1px
    margin: 0 0 20px
    display: none
    .nav-sub
        color: $m-color
        padding: 20px 25px
        border-bottom: 1px solid #403229
        display: block
        // &:hover
        //     background: rgba(#403229,0.6)
.nav-box
    font-size: 18px
    color: $m-color
    line-height: 1
    letter-spacing: 1px
    padding: 25px 0
    border-bottom: 1px solid $m-color
    +flex($sb,$c)
    position: relative
    span.snote
        font-size: 14px
        letter-spacing: 1.5px
    &:hover
        padding: 25px
        // background: rgba(#403229,0.6)
.bg-h
    position: relative
    &:hover
        &:after
            height: 100%
    span
        display: inline-block
        position: relative
        z-index: 2
    &:after
        content: ''
        display: block
        width: 100%
        height: 0
        background: rgba($md-color,0.6)
        +position(null,null,0,0,1)
        transition: .3s

.side-nav-bot
    width: 100%
    font-size: 16px
    line-height: 1
    letter-spacing: 0.2px
    margin: 80px 0 0
    +flex($sb,$flex-e)
.lan-box
    color: $m-color-d
    a
        color: $m-color-d
        display: inline-block
        &:hover
            color: $m-color
    a.act
        color: $m-color
    span
        margin: 0 10px
        display: inline-block
.nav-social-box
    width: 80px
    a
        color: $m-color
        margin: 0 0 8px
        display: inline-block
        &:hover
            color: $m-color-d
        &:last-child
            margin: 0
.nav-mask
    width: 100%
    height: 100vh
    background: rgba(#000,0.4)
    +position(0,null,null,0,2)
    display: none


.banner-area
    width: 100%
    height: calc(100vh - 50px)
    position: relative
.pc-banner,.mb-banner
    width: 100%
    height: 100%
    +position(0,null,null,0,1)
    img
        +imgfull(1)
    video
        width: 100%
        height: 100%
        object-fit: cover
.mb-banner
    display: none
.banner-area.nocookie
    height: 100vh
    // height: 1030px
.banner-txt-area
    color: $m-color
    padding: 40px
    width: 100%
    +position(null,null,0,0,1)
    +flex($flex-s,$flex-s)
    .tit
        font-size: 26px
        line-height: 22px
        letter-spacing: -0.3px
        margin-right: 245px
        height: 50px
    .txt
        font-size: 18px
        line-height: 26px
        letter-spacing: 0.2px
        width: 800px
        height: 50px
.video-btn
    width: 54px
    height: 54px
    background: url(../img/stop.svg) no-repeat center center/contain
    +position(null,40px,40px,null,2)
    +tcursor
    &:hover
        opacity: 0.8
.video-btn.play
    display: none
    background: url(../img/play.svg) no-repeat center center/contain

.slogan-area-top
    height: 140px
.slogan-area
    padding: 220px 0//360px
    background: #000
    position: relative
    overflow: hidden
.slogan-bg
    width: 450px
    height: 338px
    margin: 0 auto
    position: relative
    img
        +imgfull(1)
.slogan-txt
    width: 100%
    font-size: 20px
    color: $m-color
    line-height: 2
    letter-spacing: 2px
    text-align: center
    padding: 0 50px
    +position(50%,null,null,50%,2)
    transform: translate(-50%,-50%)

.product-sw-area
    background: #000
    overflow: hidden
.product-area1
    padding: 140px 0 220px
.product-area2.on
    background: #fff
    .product-tab-area
        .tab.act
            color: #000
            border-color: #000
    .product-sw-tit,.product-mb-info
        color: #000
.product-area2
    padding: 140px 0 120px
    transition: .5s
    // background: #fff
    .product-tab-area
        .tab
            color: #e2e2e2
            border-color: #e2e2e2
            &:hover
                color: #000
                border-color: #000
            &:after
                background: #e2e2e2
        .tab.act
            color: #fff
            border-color: #fff
            transition: .5s
    .product-sw-tit,.product-mb-info
        color: #fff
        transition: .5s
// .product-sw-cont
//     width: 900px
//     margin: 0 auto
.product-tab-area
    font-size: 20px
    line-height: 1
    letter-spacing: 2px
    width: 900px
    margin: 0 auto 30px
    +flex($flex-s,$c)
    .swiper-slide
        width: 110px
        margin-right: 25px
        &:last-child
            margin-right: 0
    span
        position: relative
        display: inline-block
        z-index: 2
    .tab
        color: $md-color
        width: 110px//118
        // margin-right: 25px
        padding: 15px 0
        border-bottom: 1px solid $md-color
        +tcursor
        position: relative
        // &:last-child
        //     margin-right: 0
        &:hover
            color: $m-color
            padding-left: 15px
            border-bottom: 1px solid $m-color
            &:after
                height: 100%
        &:after
            content: ''
            display: block
            width: 100%
            height: 0
            background: rgba($md-color,0.6)
            +position(null,null,0,0,1)
            transition: .2s
    .tab.act
        color: $m-color
        width: 110px
        border-bottom: 1px solid $m-color

.product-sw
    width: 900px
    margin: 0 auto
    // .product-sw-img
    //     opacity: 0.4
    //     transform: scale(0.667)
    // .swiper-slide-active
    //     .product-sw-img
    //         opacity: 1
    //         transform: scale(1)
    //         z-index: 2
    //     .product-sw-tit
    //         opacity: 1
    .swiper-slide-next
        .product-sw-img
            transform: scale(0.667) translateX(-20%) !important
    .swiper-slide-prev
        .product-sw-img
            transform: scale(0.667) translateX(20%) !important
// .product-sw-img-box
//     border-radius: 15px
//     // position: relative
//     overflow: hidden
.product-sw-btn
    width: 54px
    height: 54px
    background: url(../img/icon_enlarge.svg) no-repeat center center/contain
    +tcursor
    +position(null,15px,15px,null,3)
    &:hover
        opacity: 0.8
.product-sw-btn.on
    transform: rotate(135deg)
.product-sw-img
    height: 600px
    border-radius: 15px
    overflow: hidden
    position: relative
    img
        +imgfull(1)
.product-sw-txt
    width: 100%
    height: 100%
    padding: 40px
    background: rgba(#000,0.7)
    +position(0,null,null,0,2)
    display: none
    p
        font-size: 18px
        color: #fff
        line-height: 2
        letter-spacing: 1px
        max-width: 620px
.product-sw-tit
    font-size: 60px
    color: $m-color
    line-height: 1
    letter-spacing: 2px
    width: 900px
    margin: 0 auto
    padding: 30px
    opacity: 0
    transition: .2s
// .product-mb-info-sw-box
//     overflow: hidden
.product-mb-info
    color: #fff
    font-size: 16px
    line-height: 2
    letter-spacing: 0.8px
    display: none
    opacity: 0
    // .tit
    //     font-size: 42px
    //     color: $m-color
    //     line-height: 50px
    //     letter-spacing: 1.5px
    //     width: 100%
    //     padding: 0 0 25px
    // .cont
    //     color: #fff
    //     font-size: 16px
    //     line-height: 2
    //     letter-spacing: 0.8px

.product-basic-area
    padding: 220px 0
    background: #000
.product-basic-cont
    width: 1200px
    margin: 0 auto
    overflow: hidden
    +flex($flex-s,$flex-s)

.product-basic-img-sw-cont
    width: calc(100% - 640px)
    max-width: 500px
    margin-right: 100px
.product-basic-img-sw
    overflow: hidden
.product-basic-img
    padding-bottom: 100%
    margin: 0 0 20px
    border-radius: 15px
    overflow: hidden
    position: relative
    img
        +imgfull(1)
.product-basic-img-txt
    font-size: 65px
    color: $m-color
    line-height: 1
    letter-spacing: -1px
    text-align: center

.product-basic-info-area
    // width: calc(100% - 600px)
    width: 540px
    padding-top: 20px
    overflow: hidden
.product-info-tab
    margin: 0 0 50px
    +flex($flex-s,$flex-s)
    .tab.act
        color: $m-color
        border-color: $m-color
    .tab
        font-size: 26px
        color: $md-color
        line-height: 1
        letter-spacing: 1px
        width: 160px
        padding: 10px 0
        margin-right: 25px
        border-bottom: 1px solid $md-color
        +tcursor
        position: relative
        span
            display: inline-block
            position: relative
            z-index: 2
        &:hover
            color: $m-color
            border-color: $m-color
            padding: 10px
            &:after
                height: 100%
        &:after
            content: ''
            display: block
            width: 100%
            height: 0
            background: $md-color
            transition: .2s
            +position(null,null,0,0,1)
        &:last-child
            margin-right: 0

.product-basic-mb-tab-sw-cont
    width: 540px
    margin: 0 auto
    display: none
.product-info-mb-tab
    .swiper-slide
        width: 160px
        margin-right: 25px
    
.basic-info-txt-box.on
    height: auto
    &:after
        display: none
.basic-info-txt-box
    height: 240px
    overflow: hidden
    position: relative
    transition: .2s
    margin: 0 0 52px
    &:after
        content: ''
        display: block
        width: 100%
        height: 40px
        +grad-b-txt
        +position(null,null,0,0,1)
.basic-info-txt
    .title
        font-size: 16px
        color: $m-color
        line-height: 1
        letter-spacing: 1.5px
        margin: 0 0 23px
    .list-group
        margin: 0 0 60px
        &:last-child
            margin: 0
    .list-note-group
        .list-box
            margin: 0 0 30px
            &:last-child
                margin: 0
    .list-box
        font-size: 16px
        color: #fff
        line-height: 40px
        +flex($flex-s,$flex-s)
        .tit
            width: 75px
            letter-spacing: 1px
            margin-right: 30px
        .cont
            width: calc(100% - 105px)
            letter-spacing: 0.8px
.basic-more-btn.on
    &:after
        transform: rotateX(180deg)
.basic-more-btn
    font-size: 16px
    color: $m-color
    line-height: 1
    letter-spacing: 0.8px
    margin: 0 0 40px
    +tcursor
    +flex($flex-s,$flex-s)
    span
        margin-right: 15px
        display: inline-block
    &:after
        content: ''
        display: block
        width: 26px
        height: 15px
        background: url(../img/arrow.svg) no-repeat center center/contain
        transition: .2s
    &:hover
        opacity: 0.8
.basic-btn-box
    padding-top: 30px
    border-top: 1px solid $md-color
    +flex($flex-s,$c)
.basic-btn
    font-size: 18px
    line-height: 1
    border-radius: 25px
    margin-right: 25px
    padding: 10px 20px
    background: $m-color
    display: block
    +tcursor
    +flex($flex-s,$c)
    span
        margin-right: 15px
        display: inline-block
    &:after
       content: ''
       display: block
       width: 20px
       height: 20px
       background: url(../img/icon_more.svg) no-repeat center center/contain
    &:last-child
        margin-right: 0
    &:hover
        opacity: 0.8

.big-product-img-area
    width: 100%
    height: 100%
    background: rgba(#000,0.65)
    position: fixed
    top: 0
    left: 0
    z-index: 5
    display: none
    .img-box
        width: 100%
        height: 80%//100%
        // max-height: 80%
        padding: 0 20px
        +position(50%,null,null,50%,2)
        transform: translate(-50%,-50%)
    img
        max-width: 100%
        max-height: 100%
        border-radius: 15px
        margin: 0 auto
    .close
        width: 31px
        height: 31px
        background: url(../img/icon_close.svg) no-repeat center center/contain
        +position(44px,44px,null,null,3)
        +tcursor
        &:hover
            transform: rotate(90deg)
    .img-note
        font-size: 22px
        color: $m-color
        line-height: 1
        margin: 22px 0 0
        text-align: center

.product-part-area
    background: #303030
    +flex($flex-s,$flex-s)
    position: relative
    &:after
        content: ''
        display: block
        width: 100%
        height: 100px
        +grad-b
        +position(null,null,0,0,1)
        transform: rotateX(180deg)
.product-part-side
    width: 340px
    height: 100vh
    position: sticky
    top: 0
.part-dot-area
    padding-left: 40px
    +position(50%,null,null,0,2)
    transform: translateY(-50%)
.part-dot-box
    margin: 0 0 10px
    +flex($flex-s,$c)
    +tcursor
    span
        font-size: 14px
        color: $m-color
        line-height: 1
        letter-spacing: 0.8px
        display: inline-block
        display: none
        transition: .2s
    &:before
        content: ''
        display: block
        width: 6px
        height: 6px
        border-radius: 50%
        transform: scale(0.67)
        background: $m-color
        opacity: 0.2
        margin-right: 12px
        transition: .2s
    &:last-child
        margin: 0
.part-dot-box.act
    span
        display: block
    &:before
        transform: scale(1)
        opacity: 1
.product-part-cont
    width: calc(100% - 340px)
    overflow: hidden
    // margin: 0 auto
.product-part-cont1
    width: 1050px
    padding: 150px 0 180px
    .product-info-tab
        margin: 0
        .tab
            font-size: 20px
            letter-spacing: 2px
            color: rgba($m-color,0.3)
            border-color: rgba($m-color,0.3)
            width: 130px
            padding: 15px 0
            &:hover
                color: $m-color
                border-color: $m-color
                padding: 15px
            &:after
                background: rgba($m-color,0.3)
        .tab.act
            color: $m-color
            border-color: $m-color
.product-part-tab-box
    margin: 0 0 45px
    .swiper-slide
        width: 130px
        margin-right: 25px
.product-part-one-area
    +flex($sb,$flex-s)
.product-part-one-info-cont
    width: calc(100% - 600px)
    padding-top: 35px
.product-part-one-info-sw
    overflow: hidden
.product-part-one-info
    .tit
        font-size: 60px
        color: $m-color
        letter-spacing: 2px
        line-height: 1
        margin: 0 0 60px
    .cont
        font-size: 16px
        color: #fff
        line-height: 2
        letter-spacing: 1px
        p
            margin: 0 0 32px
            &:last-child
                margin: 0
.product-part-one-img-cont
    width: 500px
.product-part-one-img-sw
    overflow: hidden
.product-part-one-img
    height: 600px
    border-radius: 15px
    overflow: hidden
    position: relative
    img
        +imgfull(1)
    .info-txt
        color: #fff
        width: 100%
        height: 100%
        padding: 40px
        background: rgba(#000,0.6)
        +position(0,null,null,0,2)
        display: none
        .tit
            font-size: 22px
            line-height: 1
            letter-spacing: 1px
            margin: 0 0 20px
        .cont
            font-size: 16px
            line-height: 2
            letter-spacing: 0.8px
            max-width: 350px
            p
                margin: 0 0 32px
                text-align: justify
                &:last-child
                    margin: 0

.product-part-cont2
    padding: 180px 0 150px
    .product-part-tit
        max-width: 810px
        font-size: 45px
        color: $m-color
        line-height: 55px
        letter-spacing: -0.4px
        margin: 0 0 140px
.product-part-two-info-cont
    position: relative
    &:after
        content: ''
        display: block
        width: 80px
        height: 100%
        +position(0,0,null,null,2)
        +grad-sw
.product-part-two-info-sw
    width: 1140px
    margin: 0 0 60px
    .swiper-slide
        height: auto
        border-right: 1px solid $m-color
        &:last-child
            border-right: 0
.part-two-info
    padding-right: 120px
    .tit-box
        color: $m-color
        margin: 0 0 80px
        line-height: 1
        .en
            font-size: 35px
            letter-spacing: 1px
            margin: 0 0 20px
        .zh
            font-size: 28px
            letter-spacing: 2px
    .cont
        font-size: 16px
        color: #fff
        line-height: 2
        letter-spacing: 1px
.sw-btn-box
    +flex($flex-s,$c)
    .sw-btn
        width: 54px
        height: 54px
        background: url(../img/sw_arr.svg) no-repeat center center/contain
        +tcursor
        &:hover
            opacity: 0.8
    .sw-btn.prev
        margin-right: 20px
        transform: rotate(180deg)
.swiper-button-disabled
    opacity: .35
    cursor: auto
    pointer-events: none

.product-part-cont3
    padding: 165px 0 300px
.product-part-about-area
    width: 1150px
    margin: 0 0 260px
    +flex($sb,$c)
    &:nth-child(even)
        flex-direction: row-reverse
    &:last-child
        margin: 0
.product-part-about-img
    width: 525px
    border-radius: 15px
    overflow: hidden
.part-about-img
    height: 650px
    position: relative
    img
        +imgfull(1)
.product-part-about-info
    width: calc(100% - 625px)
    padding-right: 75px
    .tit-box
        color: $m-color
        line-height: 1
        margin: 0 0 80px
        .sup
            font-size: 22px
            letter-spacing: 1.5px
            padding: 0 0 25px
            margin: 0 0 25px
            border-bottom: 1px solid $m-color
        .tit.en
            font-size: 50px
            letter-spacing: 1px
        .tit.zh
            font-size: 35px
            line-height: 55px
            letter-spacing: 2.5px
    .cont
        color: #fff
        .bt
            font-size: 20px
            letter-spacing: 2px
            line-height: 1
            margin: 0 0 25px
            &:last-child
                margin: 0
        p
            font-size: 16px
            line-height: 2
            letter-spacing: 1px
            margin: 0 0 32px
            &:last-child
                margin: 0
.product-part-mb-tab-area
    width: 100%
    +flex($flex-s,$str)
    background: #000
    z-index: 2
    position: sticky
    bottom: 0
    display: none
    .part-mb-tab
        font-size: 18px
        color: #534A43
        line-height: 1
        letter-spacing: 1.5px
        width: calc(100%/3)
        padding: 21px 5px
        text-align: center
        border-right: 1px solid #534A43
        +tcursor
        &:last-child
            border-right: 0
    .part-mb-tab.act
        color: $m-color

footer
    background: #000
.footer-area
    max-width: 1680px
    margin: 0 auto
    +flex($flex-s,$str)
.footer-logo-area
    width: 550px
    // padding: 40px
    border-right: 1px solid $md-color
    +flexs($flex-s,$sb)
.footer-logo-box
    padding: 40px
.footer-logo-txt
    font-size: 16px
    color: $m-color
    .txt
        line-height: 22px
        letter-spacing: 0.2px
        padding: 0 40px 40px
        border-bottom: 1px solid $md-color
.copyright
    line-height: 1
    letter-spacing: 0.6px
    padding: 40px
.footer-link-area
    width: calc(100% - 550px)
    padding: 40px
    +flex($sb,$str)
.footer-link-group
    width: calc(100% - 560px)
    +flexs($flex-s,$sb)
.footer-link-cont
    +flex($flex-s,$flex-s)
.footer-link-box
    margin-right: 80px
    .tit
        font-size: 16px
        color: $m-color
        line-height: 1
        letter-spacing: 0.6px
        margin: 0 0 20px
    .link
        font-size: 16px
        line-height: 1
        letter-spacing: 1px
        li
            margin: 0 0 20px
            &:last-child
                margin: 0
    .link.en
        letter-spacing: 0.2px
    a
        color: $m-color
        &:hover
            color: $m-color-d
    &:last-child
        margin-right: 0
.footer-back-box
    width: 100%
.footer-back
    font-size: 18px
    color: $m-color
    line-height: 22px
    letter-spacing: 0.2px
    +flex($flex-s,$c)
    span
        display: inline-block
    &:before
        content: ''
        display: block
        width: 54px
        height: 54px
        margin-right: 20px
        background: url(../img/icon_back.svg) no-repeat center center/contain
    &:hover
        opacity: 0.8
.footer-img
    width: 540px
    height: 365px
    border-radius: 15px
    overflow: hidden
    position: relative
    img
        +imgfull(1)
.footer-mb-back-box
    width: 100%
    font-size: 16px
    color: $m-color
    line-height: 1
    letter-spacing: 0.8px
    border-top: 1px solid $md-color
    +flex($flex-s,$c)
    display: none
    a
        color: $m-color
        &:hover
            opacity: 0.8
    .copy,.back
        padding: 30px
    .copy
        width: 170px
        padding-right: 25px
        border-right: 1px solid $md-color
    .back
        width: calc(100% - 175px)
        white-space: nowrap
    
.footer-marquee-area
    width: 100%
    border-top: 1px solid $md-color
    white-space: nowrap
    overflow: hidden
.marquee-box
    display: inline-block
    font-size: 120px
    color: $md-color
    line-height: 1
    letter-spacing: -2px
    padding-right: 50px


//- 父層 display: flex
//- ||______|     |
//- |    |_______|| -> RWD往下擠可設定 flex-grow: 1
.test-wrap
    width: 300px
    height: 200px
    margin: 10px
    background: #ff6c6c
    +flex($sa,$c)
    // display: flex
    // flex-wrap: wrap
    // justify-content: space-between
    // align-content: center

.test-box
    width: 45%
    border-radius: 10px
    overflow: hidden
    img
        width: 100%
    .t-img
        width: 80%

.radio-wrap
    +dvm

.border-grad
    +grad-border
    padding: 50px
    margin: 10px
    display: inline-block
    background: rgba(#331c12,0.35)
    p
        +grad-txt

//== 編輯器 ==
.edit-area
    p
        display: block
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
    strong
        font-weight: bold
    em
        font-style: italic
    h1
        font-size: 2em
        margin-block-start: 0.67em
        margin-block-end: 0.67em
    h2
        font-size: 1.5em
        margin-block-start: 0.83em
        margin-block-end: 0.83em
    h3
        font-size: 1.17em
        margin-block-start: 1em
        margin-block-end: 1em
    h4
        margin-block-start: 1.33em
        margin-block-end: 1.33em
    h5
        font-size: 0.83em
        margin-block-start: 1.67em
        margin-block-end: 1.67em
    h6
        font-size: 0.67em
        margin-block-start: 2.33em
        margin-block-end: 2.33em
    h1,h2,h3,h4,h5,h6
        font-weight: normal
        line-height: 1.2
        display: block
        margin-inline-start: 0px
        margin-inline-end: 0px
    ol
        display: block
        list-style-type: decimal
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
        padding-inline-start: 40px
    ul
        display: block
        list-style-type: disc
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
        padding-inline-start: 40px
    li
        display: list-item
        text-align: -webkit-match-parent
    img
        max-width: 100%
        margin: 0 auto !important
        height: auto !important
    blockquote
        font-style: italic
        // font-family: Georgia, Times, "Times New Roman", serif
        padding: 2px 8px 2px 20px
        border-width: 0
        border-left: 5px solid #ccc
        display: block
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 40px
        margin-inline-end: 40px
    iframe
        width: 100%

//== 自定義滾軸設定 ==
//= 側邊文字和滾動條距離 =
.mCSB_inside>.mCSB_container
    margin-right: 15px
//= 滾動bar背景顏色 =
.mCSB_scrollTools .mCSB_draggerRail
    width: 12px
    background: #eee
//= 滾動bar顏色 =
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
    width: 12px
    background: #ccc
    &:hover
        background: #ccc
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
    background: #ccc

//===== css 動畫 =====
.loadin-txt
    animation: load 1.5s infinite ease-in-out
@keyframes load
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1

//RWD 手機版css 
@import m_sty