footer
    .footer-area
        .footer-logo-area
            .footer-logo-box
                .footer-logo
                    img(src="img/f_logo.svg", alt="")
            .footer-logo-txt
                .txt ZONFI is a futuristic living concept which emphasizes space extension and a mind-peace feeling.
                .copyright © ZONFI 2022
        .footer-link-area
            .footer-link-group
                .footer-link-cont
                    .footer-link-box
                        .tit ZONFI BASIC
                        ul.link
                            li
                                a(href="###")#fAreaBtn1 工藝技術
                            li
                                a(href="###")#fAreaBtn2 支援服務
                            li
                                a(href="###")#fAreaBtn3 關於我們
                            li
                                a(href="###") 聯絡我們
                    .footer-link-box
                        .tit.f-mb-tit FOLLOW US
                        ul.link.en
                            li
                                a(href="###" target="_blank") Facebook
                            li
                                a(href="###" target="_blank") Instagram
                            li
                                a(href="###" target="_blank") Youtube
                .footer-back-box
                    a(href="###").footer-back
                        span BACK TO <br>COMFO SAFE
            .footer-img
                img(src="img/footer_img.jpg", alt="")
        .footer-mb-back-box
            .copy © ZONFI 2022
            .back
                a(href="###") BACK TO COMFO SAFE
        .footer-marquee-area#marqueeWrap
            .marquee-box#marqueeBox1 ZONFI THE ESSENCE OF LIVING
                //- img(src="img/footer_marquee.svg", alt="")
            .marquee-box#marqueeBox2 ZONFI THE ESSENCE OF LIVING
                //- img(src="img/footer_marquee.svg", alt="")

    //- -const footer={'footer1':'###','footer2':'/login','footer3':'/logout'};
    //- //-n 是值 i 是KEY
    //- each n,i in footer
    //-     a(href=n)= i