//-var mailData={tit:'我是標題',cont:'我是內文',date:'2020/03/26'};
mixin mailBox(mailData)
    .mail-box
        if mailData.new
            .mail-tag new
        .mail-tit= mailData.tit
        .mail-txt= mailData.cont
            .mail-date= mailData.date

mixin tit(data)
    .tit-blur-area(class=data.isBtn?"tit":undefined)
        img(src="img/"+data.img, alt="")
        .tit-blur-box
            .tit-blur
                .tit #{data.tit}
                .sup !{data.sup}

//- product - sw
mixin productSwBox(data)
    .product-sw-img-box
        .product-sw-img(data-swiper-parallax-scale="0.667" data-swiper-parallax-opacity="0.4")
            .product-sw-btn
            .product-sw-txt(data-entit=data.enTit)
                p #{data.txt}
            img(src="img/"+data.img, alt="")
        .product-sw-tit(data-swiper-parallax-opacity="0") #{data.enTit}
        .product-mb-info(data-swiper-parallax-opacity="0") #{data.txt}
            //- .tit #{data.enTit}
            //- .cont #{data.txt}

//- product - sw
mixin productMbInfo(data)
    .product-mb-info
        .tit #{data.enTit}
        .cont #{data.txt}

//- productList
mixin productListBox(data)
    each n in data
        .list-box
            .tit #{n.tit}
            .cont #{n.cont}

//- partTwoInfo
mixin partTwoInfo(data)
    .part-two-info
        .tit-box
            .en #{data.en}
            .zh #{data.zh}
        .cont #{data.cont}