nav
    a(href="index.html").logo#logo
        img#wlogo(src="img/logo.svg", alt="")
        img#blogo(src="img/logo_b.svg", alt="")
    .nav-btn#sideNavOpen
        img#wPlus(src="img/plus.svg", alt="")
        img#bPlus(src="img/plus_b.svg", alt="")
    .nav-mask#navMask
    .side-nav-area#sideNavArea
        .side-nav-top
            .side-nav-tit
                .nav-tit ZONFI INFO
                //- .close#sideNavClose
            .nav-banner
                img(src="img/nav_img.jpg", alt="")
            .nav-list-box
                .nav-box-tit
                    .tit ZONFI BASIC
                    .icon
                .nav-sub-box
                    a(href="###").nav-sub.bg-h#basicAreaNavBtn1
                        span 櫃體外型
                    a(href="###").nav-sub.bg-h#basicAreaNavBtn2
                        span 產品內裝
                    a(href="###").nav-sub.bg-h#basicAreaNavBtn3
                        span 產品規格
            a(href="###").nav-box.bg-h
                span ZONFI B
            a(href="###").nav-box.bg-h#navAreaBtn1
                span 工藝技術
            a(href="###").nav-box.bg-h#navAreaBtn2
                span 支援服務
            a(href="###").nav-box.bg-h#navAreaBtn3
                span 關於我們
            a(href="###").nav-box.bg-h
                span 聯絡我們
                span.snote 至日寶門市洽詢
        .side-nav-bot
            .lan-box
                a(href="###").act 中文
                span |
                a(href="###") English
            .nav-social-box
                a(href="###" target="_blank") Facebook
                a(href="###" target="_blank") Instagram
                a(href="###" target="_blank") Youtube

    //- -const nav={'NAV1':'###','NAV2':'/login','NAV3':'/logout'};
    //- //-n 是值 i 是KEY
    //- each n,i in nav
    //-     a(href=n)= i