@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:200");
html, body {
  height: auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  display: block;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  cursor: pointer;
  transition: 0.2s;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

input, textarea, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  border: none;
  border-radius: 0;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

body {
  font-family: "Microsoft YaHei", "微軟正黑體", Arial, Helvetica, sans-serif, "STHeiti Light", "儷黑 Pro", "LiHei Pro", "新細明體";
  font-size: 16px;
  color: #000;
  background: #000;
}

input, textarea, select {
  font-family: "Microsoft YaHei", "微軟正黑體", Arial, Helvetica, sans-serif, "STHeiti Light", "儷黑 Pro", "LiHei Pro", "新細明體";
  color: #555;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-box-area {
  width: 100%;
  margin: 0 0 5px;
  text-align: left;
}
.input-box-area label {
  font-size: 86%;
  color: #f9b601;
  margin: 0 0 5px;
  display: inline-block;
}
.input-box-area p {
  color: #fff;
  line-height: 40px;
  display: block;
}

.input-box {
  position: relative;
}
.input-box label.error {
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0;
  background: #e53b57;
  position: absolute;
  top: 50%;
  right: 3px;
  z-index: 2;
  transform: translateY(-50%);
}

.input-sty {
  font-size: 100%;
  color: #f9b601;
  width: 100%;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #f9b601;
  background: #fff;
  box-sizing: border-box;
}
.input-sty::placeholder {
  color: rgba(249, 182, 1, 0.8);
}

.label-item-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.label-item-wrap label.error {
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0 0 0 10px;
  background: #e53b57;
}

.input-tit {
  font-size: 86%;
  color: #f9b601;
  margin: 0 0 5px;
  display: inline-block;
}

.label-item {
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.label-item span {
  font-size: 86%;
  margin: 0 0 0 5px;
}

.radio-box {
  width: 14px;
  height: 14px;
  padding: 2px 0 0 2px;
  border: 1px solid #009aff;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

input[type=radio]:checked + .radio-box::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #009aff;
  display: block;
}

input[type=radio] {
  opacity: 0;
}

.check-box {
  width: 13px;
  height: 13px;
  border: 2px solid #009aff;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked + .check-box::after {
  content: "\f00c";
  font-size: 15px;
  color: #009aff;
  transform: translateY(-1px);
  display: block;
}

.input-sel {
  font-size: 100%;
  color: #f9b601;
  width: 100%;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #f9b601;
  background: #fff;
  box-sizing: border-box;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background: #329a04;
}
.switch input:checked + .slider:after {
  content: "on";
  right: 35px;
}
.switch input:focus + .slider {
  box-shadow: 0 0 5px #111111;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999999;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 50px;
  padding: 3px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  background: #ffffff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 30px;
  left: 3px;
  bottom: 3px;
}
.slider:after {
  position: absolute;
  content: "off";
  color: #ffffff;
  line-height: 25px;
  padding: 0 0 0 5px;
  right: 15px;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgb(51, 51, 51) inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}

.pasw {
  -webkit-text-security: disc;
}

.btn-area {
  text-align: center;
  margin: 15px 0 0;
}

.btn {
  font-size: 125%;
  color: #fff;
  font-weight: 500;
  width: 100px;
  padding: 5px 10px;
  background: #f9b601;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  opacity: 0.9;
}

.submit-btn {
  position: relative;
}
.submit-btn input {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.sub-filter-btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
.sub-filter-btn input {
  position: absolute;
}
.sub-filter-btn label {
  color: #d89f1f;
  border-radius: 10px;
  padding: 3px 10px;
  display: block;
  cursor: pointer;
  transition: 0.2s;
}
.sub-filter-btn label:hover {
  color: #fff;
}
.sub-filter-btn input[type=radio]:checked + label {
  color: #fff;
  background: #d89f1f;
}

.check-box2 {
  width: 13px;
  height: 13px;
  margin: 0 3px;
  border: 2px solid #d1c0a5;
  border-radius: 2px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked + .check-box2::after {
  content: "\f00c";
  font-size: 15px;
  color: #d1c0a5;
  transition: 0.2s;
}

.check-box-c {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}

input[type=checkbox]:checked + .check-box-c::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background: url(../img/icon_c.png) no-repeat center center;
  background-size: contain;
  transition: 0.2s;
  position: absolute;
  top: -2px;
  left: -2px;
}

input[type=radio]:checked + .check-box-c::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background: url(../img/icon_c.png) no-repeat center center;
  background-size: contain;
  transition: 0.2s;
  position: absolute;
  top: -2px;
  left: -2px;
}

.ex-inp-wrap {
  margin: 10px 20px;
  border: 1px solid #009aff;
  border-radius: 5px;
}

.ex-tit {
  font-size: 18px;
  color: #fff;
  padding: 5px;
  background: #009aff;
}

.ex-box {
  padding: 5px;
}
.ex-box p {
  margin: 5px 0;
}
.ex-box i {
  color: #009aff;
}

.cookie-box {
  font-size: 12px;
  color: #FFCAA6;
  letter-spacing: 0.2px;
  line-height: 1;
  padding: 12px 40px;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}
.cookie-box br {
  display: none;
}
.cookie-box .txt a {
  color: #FFCAA6;
  margin: 0 3px;
  text-decoration: underline;
}

.cookie-btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.cookie-btn {
  letter-spacing: 1px;
  margin-right: 12px;
  border: 1px solid #FFCAA6;
  border-radius: 20px;
  padding: 6px 9px;
  cursor: pointer;
  transition: 0.2s;
}
.cookie-btn:last-child {
  opacity: 0.3;
  margin-right: 0;
}

nav.bg {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

nav {
  width: 100%;
  padding: 40px 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 50px;
  z-index: 4;
  box-sizing: border-box;
}
nav .logo {
  width: 998px;
  height: 156px;
  position: relative;
  transition: 0.2s;
}
nav .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s;
}
nav .logo #blogo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}
nav .logo.on {
  width: 128px;
  height: 20px;
}

nav.nocookie {
  top: 0;
}

nav.wbg #blogo, nav.wbg #bPlus {
  opacity: 1;
}
nav.wbg #wlogo, nav.wbg #wPlus {
  opacity: 0;
}

.nav-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  z-index: 5;
}
.nav-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s;
}
.nav-btn #bPlus {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav-btn:hover {
  opacity: 0.8;
}

.nav-btn.sideAct {
  transform: rotate(135deg);
}
.nav-btn.sideAct #wPlus {
  opacity: 1;
}
.nav-btn.sideAct #bPlus {
  opacity: 0;
}

.side-nav-area {
  width: 430px;
  height: calc(100vh - 50px);
  padding: 40px;
  position: absolute;
  top: 0;
  right: -430px;
  z-index: 4;
  background: #1f1f1f;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  overflow: scroll;
  transition: 0.2s;
}

.side-nav-area.on {
  right: 0;
}

.side-nav-area.nocookie {
  height: 100vh;
}

.side-nav-tit {
  margin: 0 0 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.side-nav-tit .nav-tit {
  font-size: 26px;
  color: #FFCAA6;
  line-height: 22px;
  letter-spacing: -0.3px;
}
.side-nav-tit .close {
  width: 31px;
  height: 31px;
  margin-top: 4px;
  background: url(../img/icon_close.svg) no-repeat center center/contain;
  cursor: pointer;
  transition: 0.2s;
}
.side-nav-tit .close:hover {
  opacity: 0.8;
}

.nav-banner {
  margin: 0 0 40px;
  border-radius: 10px;
  overflow: hidden;
}
.nav-banner img {
  width: 100%;
}

.nav-box-tit {
  padding: 25px 0;
  border-bottom: 1px solid #FFCAA6;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav-box-tit .tit {
  font-size: 18px;
  color: #FFCAA6;
  line-height: 1;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
}
.nav-box-tit .icon {
  width: 26px;
  height: 15px;
  background: url(../img/arrow.svg) no-repeat center center/contain;
  transition: 0.2s;
  position: relative;
  z-index: 2;
}
.nav-box-tit:hover {
  padding: 25px;
}
.nav-box-tit:hover:after {
  height: 100%;
}
.nav-box-tit span {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.nav-box-tit:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background: rgba(64, 50, 41, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s;
}

.nav-box-tit.on {
  padding: 25px;
}
.nav-box-tit.on .icon {
  transform: rotateX(180deg);
}

.nav-sub-box {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1px;
  margin: 0 0 20px;
  display: none;
}
.nav-sub-box .nav-sub {
  color: #FFCAA6;
  padding: 20px 25px;
  border-bottom: 1px solid #403229;
  display: block;
}

.nav-box {
  font-size: 18px;
  color: #FFCAA6;
  line-height: 1;
  letter-spacing: 1px;
  padding: 25px 0;
  border-bottom: 1px solid #FFCAA6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav-box span.snote {
  font-size: 14px;
  letter-spacing: 1.5px;
}
.nav-box:hover {
  padding: 25px;
}

.bg-h {
  position: relative;
}
.bg-h:hover:after {
  height: 100%;
}
.bg-h span {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.bg-h:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background: rgba(64, 50, 41, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s;
}

.side-nav-bot {
  width: 100%;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.2px;
  margin: 80px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.lan-box {
  color: #5D493A;
}
.lan-box a {
  color: #5D493A;
  display: inline-block;
}
.lan-box a:hover {
  color: #FFCAA6;
}
.lan-box a.act {
  color: #FFCAA6;
}
.lan-box span {
  margin: 0 10px;
  display: inline-block;
}

.nav-social-box {
  width: 80px;
}
.nav-social-box a {
  color: #FFCAA6;
  margin: 0 0 8px;
  display: inline-block;
}
.nav-social-box a:hover {
  color: #5D493A;
}
.nav-social-box a:last-child {
  margin: 0;
}

.nav-mask {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.banner-area {
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
}

.pc-banner, .mb-banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.pc-banner img, .mb-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.pc-banner video, .mb-banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mb-banner {
  display: none;
}

.banner-area.nocookie {
  height: 100vh;
}

.banner-txt-area {
  color: #FFCAA6;
  padding: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.banner-txt-area .tit {
  font-size: 26px;
  line-height: 22px;
  letter-spacing: -0.3px;
  margin-right: 245px;
  height: 50px;
}
.banner-txt-area .txt {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2px;
  width: 800px;
  height: 50px;
}

.video-btn {
  width: 54px;
  height: 54px;
  background: url(../img/stop.svg) no-repeat center center/contain;
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 2;
  cursor: pointer;
  transition: 0.2s;
}
.video-btn:hover {
  opacity: 0.8;
}

.video-btn.play {
  display: none;
  background: url(../img/play.svg) no-repeat center center/contain;
}

.slogan-area-top {
  height: 140px;
}

.slogan-area {
  padding: 220px 0;
  background: #000;
  position: relative;
  overflow: hidden;
}

.slogan-bg {
  width: 450px;
  height: 338px;
  margin: 0 auto;
  position: relative;
}
.slogan-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slogan-txt {
  width: 100%;
  font-size: 20px;
  color: #FFCAA6;
  line-height: 2;
  letter-spacing: 2px;
  text-align: center;
  padding: 0 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.product-sw-area {
  background: #000;
  overflow: hidden;
}

.product-area1 {
  padding: 140px 0 220px;
}

.product-area2.on {
  background: #fff;
}
.product-area2.on .product-tab-area .tab.act {
  color: #000;
  border-color: #000;
}
.product-area2.on .product-sw-tit, .product-area2.on .product-mb-info {
  color: #000;
}

.product-area2 {
  padding: 140px 0 120px;
  transition: 0.5s;
}
.product-area2 .product-tab-area .tab {
  color: #e2e2e2;
  border-color: #e2e2e2;
}
.product-area2 .product-tab-area .tab:hover {
  color: #000;
  border-color: #000;
}
.product-area2 .product-tab-area .tab:after {
  background: #e2e2e2;
}
.product-area2 .product-tab-area .tab.act {
  color: #fff;
  border-color: #fff;
  transition: 0.5s;
}
.product-area2 .product-sw-tit, .product-area2 .product-mb-info {
  color: #fff;
  transition: 0.5s;
}

.product-tab-area {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 2px;
  width: 900px;
  margin: 0 auto 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.product-tab-area .swiper-slide {
  width: 110px;
  margin-right: 25px;
}
.product-tab-area .swiper-slide:last-child {
  margin-right: 0;
}
.product-tab-area span {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.product-tab-area .tab {
  color: #403229;
  width: 110px;
  padding: 15px 0;
  border-bottom: 1px solid #403229;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}
.product-tab-area .tab:hover {
  color: #FFCAA6;
  padding-left: 15px;
  border-bottom: 1px solid #FFCAA6;
}
.product-tab-area .tab:hover:after {
  height: 100%;
}
.product-tab-area .tab:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background: rgba(64, 50, 41, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: 0.2s;
}
.product-tab-area .tab.act {
  color: #FFCAA6;
  width: 110px;
  border-bottom: 1px solid #FFCAA6;
}

.product-sw {
  width: 900px;
  margin: 0 auto;
}
.product-sw .swiper-slide-next .product-sw-img {
  transform: scale(0.667) translateX(-20%) !important;
}
.product-sw .swiper-slide-prev .product-sw-img {
  transform: scale(0.667) translateX(20%) !important;
}

.product-sw-btn {
  width: 54px;
  height: 54px;
  background: url(../img/icon_enlarge.svg) no-repeat center center/contain;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 3;
}
.product-sw-btn:hover {
  opacity: 0.8;
}

.product-sw-btn.on {
  transform: rotate(135deg);
}

.product-sw-img {
  height: 600px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.product-sw-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.product-sw-txt {
  width: 100%;
  height: 100%;
  padding: 40px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}
.product-sw-txt p {
  font-size: 18px;
  color: #fff;
  line-height: 2;
  letter-spacing: 1px;
  max-width: 620px;
}

.product-sw-tit {
  font-size: 60px;
  color: #FFCAA6;
  line-height: 1;
  letter-spacing: 2px;
  width: 900px;
  margin: 0 auto;
  padding: 30px;
  opacity: 0;
  transition: 0.2s;
}

.product-mb-info {
  color: #fff;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.8px;
  display: none;
  opacity: 0;
}

.product-basic-area {
  padding: 220px 0;
  background: #000;
}

.product-basic-cont {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-basic-img-sw-cont {
  width: calc(100% - 640px);
  max-width: 500px;
  margin-right: 100px;
}

.product-basic-img-sw {
  overflow: hidden;
}

.product-basic-img {
  padding-bottom: 100%;
  margin: 0 0 20px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.product-basic-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.product-basic-img-txt {
  font-size: 65px;
  color: #FFCAA6;
  line-height: 1;
  letter-spacing: -1px;
  text-align: center;
}

.product-basic-info-area {
  width: 540px;
  padding-top: 20px;
  overflow: hidden;
}

.product-info-tab {
  margin: 0 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.product-info-tab .tab.act {
  color: #FFCAA6;
  border-color: #FFCAA6;
}
.product-info-tab .tab {
  font-size: 26px;
  color: #403229;
  line-height: 1;
  letter-spacing: 1px;
  width: 160px;
  padding: 10px 0;
  margin-right: 25px;
  border-bottom: 1px solid #403229;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}
.product-info-tab .tab span {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.product-info-tab .tab:hover {
  color: #FFCAA6;
  border-color: #FFCAA6;
  padding: 10px;
}
.product-info-tab .tab:hover:after {
  height: 100%;
}
.product-info-tab .tab:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background: #403229;
  transition: 0.2s;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.product-info-tab .tab:last-child {
  margin-right: 0;
}

.product-basic-mb-tab-sw-cont {
  width: 540px;
  margin: 0 auto;
  display: none;
}

.product-info-mb-tab .swiper-slide {
  width: 160px;
  margin-right: 25px;
}

.basic-info-txt-box.on {
  height: auto;
}
.basic-info-txt-box.on:after {
  display: none;
}

.basic-info-txt-box {
  height: 240px;
  overflow: hidden;
  position: relative;
  transition: 0.2s;
  margin: 0 0 52px;
}
.basic-info-txt-box:after {
  content: "";
  display: block;
  width: 100%;
  height: 40px;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.basic-info-txt .title {
  font-size: 16px;
  color: #FFCAA6;
  line-height: 1;
  letter-spacing: 1.5px;
  margin: 0 0 23px;
}
.basic-info-txt .list-group {
  margin: 0 0 60px;
}
.basic-info-txt .list-group:last-child {
  margin: 0;
}
.basic-info-txt .list-note-group .list-box {
  margin: 0 0 30px;
}
.basic-info-txt .list-note-group .list-box:last-child {
  margin: 0;
}
.basic-info-txt .list-box {
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.basic-info-txt .list-box .tit {
  width: 75px;
  letter-spacing: 1px;
  margin-right: 30px;
}
.basic-info-txt .list-box .cont {
  width: calc(100% - 105px);
  letter-spacing: 0.8px;
}

.basic-more-btn.on:after {
  transform: rotateX(180deg);
}

.basic-more-btn {
  font-size: 16px;
  color: #FFCAA6;
  line-height: 1;
  letter-spacing: 0.8px;
  margin: 0 0 40px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.basic-more-btn span {
  margin-right: 15px;
  display: inline-block;
}
.basic-more-btn:after {
  content: "";
  display: block;
  width: 26px;
  height: 15px;
  background: url(../img/arrow.svg) no-repeat center center/contain;
  transition: 0.2s;
}
.basic-more-btn:hover {
  opacity: 0.8;
}

.basic-btn-box {
  padding-top: 30px;
  border-top: 1px solid #403229;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.basic-btn {
  font-size: 18px;
  line-height: 1;
  border-radius: 25px;
  margin-right: 25px;
  padding: 10px 20px;
  background: #FFCAA6;
  display: block;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.basic-btn span {
  margin-right: 15px;
  display: inline-block;
}
.basic-btn:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/icon_more.svg) no-repeat center center/contain;
}
.basic-btn:last-child {
  margin-right: 0;
}
.basic-btn:hover {
  opacity: 0.8;
}

.big-product-img-area {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}
.big-product-img-area .img-box {
  width: 100%;
  height: 80%;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.big-product-img-area img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  margin: 0 auto;
}
.big-product-img-area .close {
  width: 31px;
  height: 31px;
  background: url(../img/icon_close.svg) no-repeat center center/contain;
  position: absolute;
  top: 44px;
  right: 44px;
  z-index: 3;
  cursor: pointer;
  transition: 0.2s;
}
.big-product-img-area .close:hover {
  transform: rotate(90deg);
}
.big-product-img-area .img-note {
  font-size: 22px;
  color: #FFCAA6;
  line-height: 1;
  margin: 22px 0 0;
  text-align: center;
}

.product-part-area {
  background: #303030;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.product-part-area:after {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  background: -webkit-linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: rotateX(180deg);
}

.product-part-side {
  width: 340px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.part-dot-area {
  padding-left: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translateY(-50%);
}

.part-dot-box {
  margin: 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.part-dot-box span {
  font-size: 14px;
  color: #FFCAA6;
  line-height: 1;
  letter-spacing: 0.8px;
  display: inline-block;
  display: none;
  transition: 0.2s;
}
.part-dot-box:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: scale(0.67);
  background: #FFCAA6;
  opacity: 0.2;
  margin-right: 12px;
  transition: 0.2s;
}
.part-dot-box:last-child {
  margin: 0;
}

.part-dot-box.act span {
  display: block;
}
.part-dot-box.act:before {
  transform: scale(1);
  opacity: 1;
}

.product-part-cont {
  width: calc(100% - 340px);
  overflow: hidden;
}

.product-part-cont1 {
  width: 1050px;
  padding: 150px 0 180px;
}
.product-part-cont1 .product-info-tab {
  margin: 0;
}
.product-part-cont1 .product-info-tab .tab {
  font-size: 20px;
  letter-spacing: 2px;
  color: rgba(255, 202, 166, 0.3);
  border-color: rgba(255, 202, 166, 0.3);
  width: 130px;
  padding: 15px 0;
}
.product-part-cont1 .product-info-tab .tab:hover {
  color: #FFCAA6;
  border-color: #FFCAA6;
  padding: 15px;
}
.product-part-cont1 .product-info-tab .tab:after {
  background: rgba(255, 202, 166, 0.3);
}
.product-part-cont1 .product-info-tab .tab.act {
  color: #FFCAA6;
  border-color: #FFCAA6;
}

.product-part-tab-box {
  margin: 0 0 45px;
}
.product-part-tab-box .swiper-slide {
  width: 130px;
  margin-right: 25px;
}

.product-part-one-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.product-part-one-info-cont {
  width: calc(100% - 600px);
  padding-top: 35px;
}

.product-part-one-info-sw {
  overflow: hidden;
}

.product-part-one-info .tit {
  font-size: 60px;
  color: #FFCAA6;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0 0 60px;
}
.product-part-one-info .cont {
  font-size: 16px;
  color: #fff;
  line-height: 2;
  letter-spacing: 1px;
}
.product-part-one-info .cont p {
  margin: 0 0 32px;
}
.product-part-one-info .cont p:last-child {
  margin: 0;
}

.product-part-one-img-cont {
  width: 500px;
}

.product-part-one-img-sw {
  overflow: hidden;
}

.product-part-one-img {
  height: 600px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.product-part-one-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.product-part-one-img .info-txt {
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 40px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}
.product-part-one-img .info-txt .tit {
  font-size: 22px;
  line-height: 1;
  letter-spacing: 1px;
  margin: 0 0 20px;
}
.product-part-one-img .info-txt .cont {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.8px;
  max-width: 350px;
}
.product-part-one-img .info-txt .cont p {
  margin: 0 0 32px;
  text-align: justify;
}
.product-part-one-img .info-txt .cont p:last-child {
  margin: 0;
}

.product-part-cont2 {
  padding: 180px 0 150px;
}
.product-part-cont2 .product-part-tit {
  max-width: 810px;
  font-size: 45px;
  color: #FFCAA6;
  line-height: 55px;
  letter-spacing: -0.4px;
  margin: 0 0 140px;
}

.product-part-two-info-cont {
  position: relative;
}
.product-part-two-info-cont:after {
  content: "";
  display: block;
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0), #303030);
  background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0), #303030);
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0), #303030);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #303030);
}

.product-part-two-info-sw {
  width: 1140px;
  margin: 0 0 60px;
}
.product-part-two-info-sw .swiper-slide {
  height: auto;
  border-right: 1px solid #FFCAA6;
}
.product-part-two-info-sw .swiper-slide:last-child {
  border-right: 0;
}

.part-two-info {
  padding-right: 120px;
}
.part-two-info .tit-box {
  color: #FFCAA6;
  margin: 0 0 80px;
  line-height: 1;
}
.part-two-info .tit-box .en {
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0 0 20px;
}
.part-two-info .tit-box .zh {
  font-size: 28px;
  letter-spacing: 2px;
}
.part-two-info .cont {
  font-size: 16px;
  color: #fff;
  line-height: 2;
  letter-spacing: 1px;
}

.sw-btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.sw-btn-box .sw-btn {
  width: 54px;
  height: 54px;
  background: url(../img/sw_arr.svg) no-repeat center center/contain;
  cursor: pointer;
  transition: 0.2s;
}
.sw-btn-box .sw-btn:hover {
  opacity: 0.8;
}
.sw-btn-box .sw-btn.prev {
  margin-right: 20px;
  transform: rotate(180deg);
}

.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.product-part-cont3 {
  padding: 165px 0 300px;
}

.product-part-about-area {
  width: 1150px;
  margin: 0 0 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.product-part-about-area:nth-child(even) {
  flex-direction: row-reverse;
}
.product-part-about-area:last-child {
  margin: 0;
}

.product-part-about-img {
  width: 525px;
  border-radius: 15px;
  overflow: hidden;
}

.part-about-img {
  height: 650px;
  position: relative;
}
.part-about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.product-part-about-info {
  width: calc(100% - 625px);
  padding-right: 75px;
}
.product-part-about-info .tit-box {
  color: #FFCAA6;
  line-height: 1;
  margin: 0 0 80px;
}
.product-part-about-info .tit-box .sup {
  font-size: 22px;
  letter-spacing: 1.5px;
  padding: 0 0 25px;
  margin: 0 0 25px;
  border-bottom: 1px solid #FFCAA6;
}
.product-part-about-info .tit-box .tit.en {
  font-size: 50px;
  letter-spacing: 1px;
}
.product-part-about-info .tit-box .tit.zh {
  font-size: 35px;
  line-height: 55px;
  letter-spacing: 2.5px;
}
.product-part-about-info .cont {
  color: #fff;
}
.product-part-about-info .cont .bt {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0 0 25px;
}
.product-part-about-info .cont .bt:last-child {
  margin: 0;
}
.product-part-about-info .cont p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  margin: 0 0 32px;
}
.product-part-about-info .cont p:last-child {
  margin: 0;
}

.product-part-mb-tab-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  background: #000;
  z-index: 2;
  position: sticky;
  bottom: 0;
  display: none;
}
.product-part-mb-tab-area .part-mb-tab {
  font-size: 18px;
  color: #534A43;
  line-height: 1;
  letter-spacing: 1.5px;
  width: 33.3333333333%;
  padding: 21px 5px;
  text-align: center;
  border-right: 1px solid #534A43;
  cursor: pointer;
  transition: 0.2s;
}
.product-part-mb-tab-area .part-mb-tab:last-child {
  border-right: 0;
}
.product-part-mb-tab-area .part-mb-tab.act {
  color: #FFCAA6;
}

footer {
  background: #000;
}

.footer-area {
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.footer-logo-area {
  width: 550px;
  border-right: 1px solid #403229;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
}

.footer-logo-box {
  padding: 40px;
}

.footer-logo-txt {
  font-size: 16px;
  color: #FFCAA6;
}
.footer-logo-txt .txt {
  line-height: 22px;
  letter-spacing: 0.2px;
  padding: 0 40px 40px;
  border-bottom: 1px solid #403229;
}

.copyright {
  line-height: 1;
  letter-spacing: 0.6px;
  padding: 40px;
}

.footer-link-area {
  width: calc(100% - 550px);
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.footer-link-group {
  width: calc(100% - 560px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
}

.footer-link-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-link-box {
  margin-right: 80px;
}
.footer-link-box .tit {
  font-size: 16px;
  color: #FFCAA6;
  line-height: 1;
  letter-spacing: 0.6px;
  margin: 0 0 20px;
}
.footer-link-box .link {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
}
.footer-link-box .link li {
  margin: 0 0 20px;
}
.footer-link-box .link li:last-child {
  margin: 0;
}
.footer-link-box .link.en {
  letter-spacing: 0.2px;
}
.footer-link-box a {
  color: #FFCAA6;
}
.footer-link-box a:hover {
  color: #5D493A;
}
.footer-link-box:last-child {
  margin-right: 0;
}

.footer-back-box {
  width: 100%;
}

.footer-back {
  font-size: 18px;
  color: #FFCAA6;
  line-height: 22px;
  letter-spacing: 0.2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.footer-back span {
  display: inline-block;
}
.footer-back:before {
  content: "";
  display: block;
  width: 54px;
  height: 54px;
  margin-right: 20px;
  background: url(../img/icon_back.svg) no-repeat center center/contain;
}
.footer-back:hover {
  opacity: 0.8;
}

.footer-img {
  width: 540px;
  height: 365px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.footer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.footer-mb-back-box {
  width: 100%;
  font-size: 16px;
  color: #FFCAA6;
  line-height: 1;
  letter-spacing: 0.8px;
  border-top: 1px solid #403229;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: none;
}
.footer-mb-back-box a {
  color: #FFCAA6;
}
.footer-mb-back-box a:hover {
  opacity: 0.8;
}
.footer-mb-back-box .copy, .footer-mb-back-box .back {
  padding: 30px;
}
.footer-mb-back-box .copy {
  width: 170px;
  padding-right: 25px;
  border-right: 1px solid #403229;
}
.footer-mb-back-box .back {
  width: calc(100% - 175px);
  white-space: nowrap;
}

.footer-marquee-area {
  width: 100%;
  border-top: 1px solid #403229;
  white-space: nowrap;
  overflow: hidden;
}

.marquee-box {
  display: inline-block;
  font-size: 120px;
  color: #403229;
  line-height: 1;
  letter-spacing: -2px;
  padding-right: 50px;
}

.test-wrap {
  width: 300px;
  height: 200px;
  margin: 10px;
  background: #ff6c6c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.test-box {
  width: 45%;
  border-radius: 10px;
  overflow: hidden;
}
.test-box img {
  width: 100%;
}
.test-box .t-img {
  width: 80%;
}

.radio-wrap {
  display: inline-block;
  vertical-align: middle;
}

.border-grad {
  border: 2px solid;
  border-image: linear-gradient(145deg, #775729 10%, #eee33d 20%, #775729 30%) 10;
  padding: 50px;
  margin: 10px;
  display: inline-block;
  background: rgba(51, 28, 18, 0.35);
}
.border-grad p {
  background: -webkit-linear-gradient(top, #99432b, #ffaf2e 40%, #fcff96 48%, #fcffff, #fcff96 52%, #ffaf2e 60%, #99432b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.edit-area p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.edit-area strong {
  font-weight: bold;
}
.edit-area em {
  font-style: italic;
}
.edit-area h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}
.edit-area h2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
.edit-area h3 {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.edit-area h4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}
.edit-area h5 {
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}
.edit-area h6 {
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
}
.edit-area h1, .edit-area h2, .edit-area h3, .edit-area h4, .edit-area h5, .edit-area h6 {
  font-weight: normal;
  line-height: 1.2;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.edit-area ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.edit-area ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.edit-area li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.edit-area img {
  max-width: 100%;
  margin: 0 auto !important;
  height: auto !important;
}
.edit-area blockquote {
  font-style: italic;
  padding: 2px 8px 2px 20px;
  border-width: 0;
  border-left: 5px solid #ccc;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
.edit-area iframe {
  width: 100%;
}

.mCSB_inside > .mCSB_container {
  margin-right: 15px;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 12px;
  background: #eee;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
  background: #ccc;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
  background: #ccc;
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background: #ccc;
}

.loadin-txt {
  animation: load 1.5s infinite ease-in-out;
}

@keyframes load {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1600px) {
  .product-part-side {
    width: 300px;
  }
  .product-part-cont {
    width: calc(100% - 300px);
  }
}
@media screen and (max-width: 1500px) {
  .product-part-side {
    width: 200px;
  }
  .product-part-cont {
    width: calc(100% - 200px);
    padding-right: 40px;
  }
  .product-part-two-info-cont:after {
    right: -40px;
  }
  .product-part-two-info-sw {
    width: 90%;
  }
  .footer-logo-area {
    width: calc(100% - 930px);
  }
  .footer-link-area {
    width: 930px;
  }
}
@media screen and (max-width: 1400px) {
  nav .logo {
    width: 700px;
    height: 108px;
  }
  .banner-txt-area .tit {
    margin-right: 70px;
  }
  .product-basic-cont {
    width: 100%;
    padding: 0 40px;
    justify-content: center;
  }
  .product-part-cont1 {
    width: 100%;
  }
  .product-part-one-info-cont {
    width: 45%;
  }
  .product-part-one-info .tit {
    font-size: 56px;
  }
  .product-part-one-img-cont {
    width: 50%;
  }
  .product-part-one-img {
    height: 0;
    padding-bottom: 120%;
  }
  .part-two-info {
    padding-right: 60px;
  }
  .product-part-about-area {
    width: 100%;
  }
  .product-part-about-img {
    width: 47%;
  }
  .part-about-img {
    height: 0;
    padding-bottom: 123.9%;
  }
  .product-part-about-info {
    width: 47%;
    padding-right: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .cookie-box {
    padding: 12px 20px;
  }
  nav {
    padding: 20px;
  }
  .banner-txt-area {
    padding: 20px 50px 20px 20px;
  }
  .banner-txt-area .tit {
    margin-right: 50px;
  }
  .banner-txt-area .txt {
    width: 600px;
  }
  .video-btn {
    right: 20px;
    bottom: 20px;
  }
  .product-tab-area {
    width: 90%;
  }
  .product-sw {
    width: 90%;
  }
  .product-sw-img {
    height: 0;
    padding-bottom: 66.5%;
  }
  .product-sw-tit {
    width: 100%;
  }
  .product-basic-img-sw-cont {
    width: calc(100% - 590px);
    margin-right: 50px;
  }
  .part-two-info {
    padding-right: 40px;
  }
  .product-part-about-info {
    padding-right: 0;
  }
  .footer-logo-area {
    width: 270px;
  }
  .footer-link-area {
    width: calc(100% - 270px);
  }
  .footer-link-group {
    width: 250px;
  }
  .footer-link-box {
    margin-right: 40px;
  }
  .footer-img {
    width: calc(100% - 280px);
  }
}
@media screen and (max-width: 1023px) {
  nav .logo {
    width: 500px;
    height: 78px;
  }
  .product-basic-mb-tab-sw-cont {
    display: block;
  }
  .product-basic-img-sw-cont {
    max-width: 540px;
    width: 540px;
    margin-right: 0;
  }
  .product-basic-info-area {
    padding-top: 50px;
  }
  .product-basic-info-area .product-info-tab {
    display: none;
  }
  .product-part-side {
    width: 150px;
  }
  .product-part-cont {
    width: calc(100% - 150px);
  }
  .product-part-one-area {
    justify-content: center;
  }
  .product-part-tab-box {
    width: 500px;
    margin: 0 auto 50px;
  }
  .product-part-one-info-cont {
    width: 500px;
    order: 1;
  }
  .product-part-one-img-cont {
    width: 500px;
    order: 0;
  }
  .footer-logo-area {
    width: 200px;
  }
  .footer-link-area {
    width: calc(100% - 200px);
  }
  .footer-logo-box {
    padding: 20px;
  }
  .footer-logo-txt .txt {
    padding: 0 20px 20px;
  }
  .copyright {
    padding: 20px;
  }
  .footer-link-area {
    padding: 20px;
  }
  .footer-link-box {
    margin-right: 20px;
  }
  .footer-link-group {
    width: 230px;
  }
  .footer-img {
    width: calc(100% - 250px);
  }
}
@media screen and (max-width: 767px) {
  .cookie-box .txt {
    line-height: 18px;
  }
  nav {
    height: 70px;
  }
  nav .logo {
    width: 305px;
    height: 48px;
  }
  .nav-btn {
    width: 30px;
    height: 30px;
  }
  .pc-banner {
    display: none;
  }
  .mb-banner {
    display: block;
  }
  .banner-txt-area .tit {
    margin: 0 0 20px;
  }
  .banner-txt-area .txt {
    font-size: 14px;
    line-height: 20px;
    height: auto;
  }
  .video-btn {
    width: 32px;
    height: 32px;
    display: none;
  }
  .side-nav-area {
    padding: 35px 20px 30px;
  }
  .side-nav-tit {
    margin: 0 0 43px;
  }
  .side-nav-top {
    width: 100%;
  }
  .nav-banner {
    margin: 0 0 30px;
  }
  .side-nav-bot {
    font-size: 18px;
  }
  .nav-social-box a {
    margin: 0 0 12px;
  }
  .slogan-txt {
    font-size: 18px;
    letter-spacing: 1.5px;
  }
  .product-tab-area {
    width: 100%;
    padding: 0 40px;
  }
  .product-tab-area .swiper-slide {
    margin-right: 0;
  }
  .product-sw-box {
    padding: 0 40px;
  }
  .product-sw {
    width: 100%;
  }
  .product-sw .swiper-slide-active .product-mb-info {
    opacity: 1;
  }
  .product-sw-btn {
    display: none;
  }
  .product-sw-tit {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1.5px;
    width: 100%;
    padding: 35px 0 25px;
  }
  .product-mb-info {
    display: block;
    transition: 0.2s;
  }
  .product-area2 {
    padding: 200px 0;
  }
  .product-basic-area {
    padding: 190px 0 65px;
  }
  .product-basic-cont {
    padding: 0 20px;
  }
  .product-basic-mb-tab-sw-cont {
    width: 100%;
    padding-left: 30px;
  }
  .product-info-mb-tab .swiper-slide {
    margin-right: 0;
  }
  .product-info-mb-tab .tab {
    font-size: 24px;
    padding: 12px 0;
  }
  .product-info-mb-tab .tab:hover {
    padding: 12px;
  }
  .product-basic-img-sw-cont {
    width: 100%;
    max-width: none;
  }
  .product-basic-img {
    margin: 0 0 30px;
  }
  .product-basic-img-txt {
    font-size: 32px;
    letter-spacing: -0.6px;
  }
  .product-basic-info-area {
    width: 100%;
    padding: 40px 10px 0;
  }
  .basic-info-txt-box {
    height: 565px;
    margin: 0 0 30px;
  }
  .basic-info-txt .title {
    padding: 0 0 20px;
    margin: 0 0 30px;
    border-bottom: 1px solid #403229;
  }
  .basic-info-txt .list-box {
    line-height: 1;
    margin: 0 0 35px;
  }
  .basic-info-txt .list-box:last-child {
    margin: 0;
  }
  .basic-info-txt .list-box .tit {
    width: 100%;
    margin: 0 0 20px;
    letter-spacing: 1.5px;
  }
  .basic-info-txt .list-box .cont {
    width: 100%;
  }
  .basic-more-btn {
    justify-content: center;
    margin: 0 0 20px;
  }
  .basic-more-btn span {
    display: none;
  }
  .basic-btn-box .basic-btn {
    margin-bottom: 30px;
  }
  .big-product-img-area .close {
    top: 20px;
    right: 20px;
  }
  .product-part-area:after {
    bottom: 59px;
  }
  .product-part-side {
    display: none;
  }
  .product-part-cont1 {
    padding: 125px 0 100px;
  }
  .product-part-cont1 .product-info-tab .tab {
    font-size: 18px;
  }
  .product-part-tab-box {
    width: 100%;
    padding-left: 30px;
  }
  .product-part-tab-box .swiper-slide {
    margin-right: 0;
  }
  .product-part-cont {
    width: 100%;
    padding: 0 20px;
  }
  .product-part-one-info-cont {
    width: 100%;
    padding: 0 10px;
  }
  .product-part-one-info .tit {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1.5px;
    margin: 0 0 30px;
  }
  .product-part-one-img-cont {
    width: 100%;
    margin: 0 0 40px;
  }
  .product-part-cont2 {
    padding: 100px 10px;
  }
  .product-part-cont2 .product-part-tit {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin: 0 0 100px;
  }
  .product-part-two-info-cont:after {
    display: none;
  }
  .product-part-two-info-sw {
    width: 100%;
    overflow: hidden;
  }
  .product-part-two-info-sw .swiper-slide {
    height: unset;
    border-right: 0;
  }
  .part-two-info {
    padding-right: 0;
  }
  .part-two-info .tit-box {
    margin: 0 0 40px;
  }
  .part-two-info .tit-box .en {
    font-size: 25px;
    letter-spacing: 0.8px;
  }
  .part-two-info .tit-box .zh {
    font-size: 25px;
  }
  .product-part-cont3 {
    padding: 100px 0 220px;
  }
  .product-part-about-area {
    margin: 0 0 120px;
  }
  .product-part-about-area:nth-child(even) {
    flex-direction: initial;
  }
  .product-part-about-img {
    width: 100%;
    margin: 0 0 40px;
  }
  .product-part-about-info {
    width: 100%;
    padding: 0 10px;
  }
  .product-part-about-info .tit-box {
    margin: 0 0 45px;
  }
  .product-part-about-info .tit-box .tit.en {
    font-size: 45px;
    letter-spacing: 1.5px;
    line-height: 52px;
  }
  .product-part-about-info .tit-box .tit.zh {
    font-size: 28px;
    letter-spacing: 1.5px;
    line-height: 48px;
  }
  .product-part-about-info .cont p {
    letter-spacing: 0.8px;
  }
  .product-part-mb-tab-area {
    display: flex;
  }
  .footer-area {
    border-top: 1px solid #534A43;
  }
  .footer-logo-area {
    width: 100%;
  }
  .footer-logo-box {
    padding: 40px 40px 50px;
  }
  .footer-logo-txt .txt {
    padding: 0 40px 40px;
  }
  .copyright {
    display: none;
  }
  .footer-link-area {
    width: 100%;
    padding: 40px 40px 0;
  }
  .footer-img {
    display: none;
  }
  .footer-link-group {
    width: 100%;
  }
  .footer-link-cont {
    width: 100%;
  }
  .footer-link-box {
    width: 100%;
    margin: 0 0 30px;
  }
  .footer-link-box:last-child {
    margin: 0;
  }
  .footer-link-box .tit {
    font-size: 18px;
    letter-spacing: 0.8px;
    margin: 0 0 30px;
  }
  .footer-link-box .f-mb-tit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }
  .footer-link-box .f-mb-tit:after {
    content: "";
    display: block;
    width: 26px;
    height: 15px;
    background: url(../img/arrow.svg) no-repeat center center/contain;
    transition: 0.2s;
  }
  .footer-link-box .f-mb-tit.on:after {
    transform: rotateX(180deg);
  }
  .footer-link-box .link {
    font-size: 18px;
    letter-spacing: 0.8px;
  }
  .footer-link-box .link li {
    margin: 0 0 30px;
  }
  .footer-link-box .link.en {
    font-size: 16px;
    letter-spacing: 0.18px;
    margin: 0 0 30px;
    display: none;
  }
  .footer-link-box .link.en li {
    margin: 0 0 20px;
  }
  .footer-link-box .link.en li:last-child {
    margin: 0;
  }
  .footer-back {
    display: none;
  }
  .footer-mb-back-box {
    display: flex;
  }
  .marquee-box {
    font-size: 50px;
    letter-spacing: -0.83px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 480px) {
  .cookie-box {
    padding: 15px 20px;
  }
  .cookie-box br {
    display: block;
  }
  nav {
    top: 66px;
  }
  .side-nav-area {
    width: 100%;
    right: -100%;
    height: calc(100vh - 66px);
  }
  .banner-area {
    height: calc(100vh - 66px);
  }
  .slogan-area-top {
    height: 0;
  }
  .slogan-area {
    height: 100vh;
    padding: 0;
  }
  .slogan-bg {
    width: 75%;
    height: 0;
    padding-bottom: 56%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
  .product-area1 {
    padding: 140px 0 190px;
  }
  .product-tab-area {
    font-size: 18px;
    margin: 0 0 50px;
  }
  .product-sw .swiper-slide-next .product-sw-img {
    transform: scale(0.73) translateX(-14.5%) !important;
  }
  .product-sw .swiper-slide-prev .product-sw-img {
    transform: scale(0.73) translateX(14.5%) !important;
  }
}
@media screen and (max-width: 375px) {
  nav .logo {
    width: 250px;
    height: 39px;
  }
}
