//-include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/cookie
		include includes/nav
		.banner-area#bannerArea
			img(src="img/banner.jpg", alt="")
			.banner-txt-area#bannerTxtArea
				.tit THE ESSENCE<br>OF LIVING
				.txt ZONFI is a futuristic living concept which emphasizes space extension and a mind-peace feeling. Inception in Taipei, Taiwan.
			.video-btn#stop
			.video-btn.play#play
		//-內容
		include includes/footer

script.
	$(document).ready(function(){
		$('#btn01').on('click',function(){
			console.log('btn01')
		});
	});