include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/cookie
		include includes/nav
		.big-product-img-area#productBigImgBox
			.close#productBigImgClose
			.img-box#productBigImg
				img(src="img/product_inner1.jpg", alt="")
				.img-note 2D Specification
		//- 內容
		.banner-area#bannerArea
			.pc-banner
				video#bannerVideo(autoplay loop muted playsinline) Your browser does not support the video tag.
					source(src="video/adv.mp4" type="video/mp4")
					//- source(src="video/adv.webm" type="video/webm")
				img(src="img/banner.jpg", alt="")
			.mb-banner
				video#bannerPcVideo(autoplay loop muted playsinline) Your browser does not support the video tag.
					source(src="video/adv.mp4" type="video/mp4")
					//- source(src="video/adv.webm" type="video/webm")
				img(src="img/banner.jpg", alt="")
			.banner-txt-area#bannerTxtArea
				.tit THE ESSENCE<br>OF LIVING
				.txt ZONFI is a futuristic living concept which emphasizes space extension and a mind-peace feeling. Inception in Taipei, Taiwan.
			.video-btn#stop
			.video-btn.play#play
		.slogan-area-top
		.slogan-area#sloganArea
			.slogan-bg#sloganLogo
				img(src="img/bg_zonfi.svg", alt="")
			.slogan-txt 一個開闊的平面世界，是任何人都想要的空間體驗。<br>我們不想破壞任何一個正在運行的線條，物體在空間中置入，是空間的一部分，不再是多餘。
		.product-sw-area.product-area1#basicArea1
			.product-sw-cont
				.product-tab-area#basicOneTabArea
					.swiper-wrapper
						.swiper-slide
							.tab.act#basicOneTab1
								span 外型
						.swiper-slide
							.tab#basicOneTab2
								span 把手
						.swiper-slide
							.tab#basicOneTab3
								span 科技
				.product-sw-box
					.product-sw#productSw1
						.swiper-wrapper
							.swiper-slide
								-const productSwBox1={'img':'product1.jpg','enTit':'RISE FROM THE GROUND','txt':'與透明層板搭配，創造輕盈、懸浮感受。陣列銅珠建立在無縫無死角的壁面上，把櫃內空間延伸感渲染更強。開門即出現具儀式性的一排排漸亮燈效。銅珠兼具照明功能，讓照明效果渾然天成，而非加上去的燈條。'};
								+productSwBox(productSwBox1)
							.swiper-slide
								-const productSwBox12={'img':'product2.jpg','enTit':'2-FLOATING IN SPACE','txt':'2 - 與透明層板搭配，創造輕盈、懸浮感受。陣列銅珠建立在無縫無死角的壁面上，把櫃內空間延伸感渲染更強。'};
								+productSwBox(productSwBox12)
							.swiper-slide
								-const productSwBox13={'img':'product3.jpg','enTit':'3-RISE FROM THE GROUND','txt':'3 - 與透明層板搭配，創造輕盈、懸浮感受。陣列銅珠建立在無縫無死角的壁面上，把櫃內空間延伸感渲染更強。開門即出現具儀式性的一排排漸亮燈效。銅珠兼具照明功能，讓照明效果渾然天成，而非加上去的燈條。'};
								+productSwBox(productSwBox13)
					//- .product-sw-tit#productSwTit1 RISE FROM THE GROUND
					//- 手機
					//- .product-mb-info-sw-box
					//- 	.product-mb-info-sw#productMbInfoSw1
					//- 		.swiper-wrapper
					//- 			.swiper-slide
					//- 				+productMbInfo(productSwBox1)
					//- 			.swiper-slide
					//- 				+productMbInfo(productSwBox12)
					//- 			.swiper-slide
					//- 				+productMbInfo(productSwBox13)
		.product-sw-area.product-area2#basicArea2
			.product-sw-cont
				.product-tab-area#basicTwoTabArea
					.swiper-wrapper
						.swiper-slide
							.tab.act#basicTwoTab1
								span 燈光設計
						.swiper-slide
							.tab#basicTwoTab2
								span 布料
						.swiper-slide
							.tab#basicTwoTab3
								span 收納
						.swiper-slide
							.tab#basicTwoTab4
								span 支撐條
						.swiper-slide
							.tab#basicTwoTab5
								span 透明層板
				.product-sw-box
					.product-sw#productSw2
						.swiper-wrapper
							.swiper-slide
								-const productSwBox2={'img':'product2.jpg','enTit':'RISE FROM THE GROUND','txt':'與透明層板搭配，創造輕盈、懸浮感受。陣列銅珠建立在無縫無死角的壁面上，把櫃內空間延伸感渲染更強。開門即出現具儀式性的一排排漸亮燈效。銅珠兼具照明功能，讓照明效果渾然天成，而非加上去的燈條。'};
								+productSwBox(productSwBox2)
							.swiper-slide
								-const productSwBox22={'img':'product2.jpg','enTit':'2-FLOATING IN SPACE','txt':'2.與透明層板搭配，創造輕盈、懸浮感受。陣列銅珠建立在無縫無死角的壁面上，把櫃內空間延伸感渲染更強。開門即出現具儀式性的一排排漸亮燈效。銅珠兼具照明功能，讓照明效果渾然天成，而非加上去的燈條。'};
								+productSwBox(productSwBox22)
							.swiper-slide
								-const productSwBox23={'img':'product3.jpg','enTit':'3-RISE FROM THE GROUND','txt':'3.與透明層板搭配，創造輕盈、懸浮感受。陣列銅珠建立在無縫無死角的壁面上，把櫃內空間延伸感渲染更強。開門即出現具儀式性的一排排漸亮燈效。銅珠兼具照明功能，讓照明效果渾然天成，而非加上去的燈條。'};
								+productSwBox(productSwBox23)
							.swiper-slide
								-const productSwBox24={'img':'product4.jpg','enTit':'4-FLOATING IN SPACE','txt':'4.與透明層板搭配，創造輕盈、懸浮感受。陣列銅珠建立在無縫無死角的壁面上，把櫃內空間延伸感渲染更強。開門即出現具儀式性的一排排漸亮燈效。銅珠兼具照明功能，讓照明效果渾然天成，而非加上去的燈條。'};
								+productSwBox(productSwBox24)
							.swiper-slide
								-const productSwBox25={'img':'product5.jpg','enTit':'5-RISE FROM THE GROUND','txt':'5.與透明層板搭配，創造輕盈、懸浮感受。陣列銅珠建立在無縫無死角的壁面上，把櫃內空間延伸感渲染更強。開門即出現具儀式性的一排排漸亮燈效。銅珠兼具照明功能，讓照明效果渾然天成，而非加上去的燈條。'};
								+productSwBox(productSwBox25)
					//- .product-sw-tit#productSwTit2 RISE FROM THE GROUND
					//- 手機
					//- .product-mb-info-sw-box
					//- 	.product-mb-info-sw#productMbInfoSw2
					//- 		.swiper-wrapper
					//- 			.swiper-slide
					//- 				+productMbInfo(productSwBox2)
					//- 			.swiper-slide
					//- 				+productMbInfo(productSwBox22)
					//- 			.swiper-slide
					//- 				+productMbInfo(productSwBox23)
					//- 			.swiper-slide
					//- 				+productMbInfo(productSwBox24)
					//- 			.swiper-slide
					//- 				+productMbInfo(productSwBox25)
		.product-basic-area#basicArea3
			.product-basic-cont
				//手機tab
				.product-basic-mb-tab-sw-cont
					.product-info-tab.product-info-mb-tab#productInfoMbTab
						.swiper-wrapper
							.swiper-slide
								.tab.basic-mb-tab-btn.act#productBasicMbBtn1
									span ZONFI 70
							.swiper-slide
								.tab.basic-mb-tab-btn#productBasicMbBtn2
									span ZONFI 100
							.swiper-slide
								.tab.basic-mb-tab-btn#productBasicMbBtn3
									span ZONFI 110
				.product-basic-img-sw-cont
					.product-basic-img-sw#productBasicImgSw
						.swiper-wrapper
							.swiper-slide
								.product-basic-img
									img(src="img/product3.jpg", alt="")
							.swiper-slide
								.product-basic-img
									img(src="img/product3.jpg", alt="")
							.swiper-slide
								.product-basic-img
									img(src="img/product3.jpg", alt="")
					.product-basic-img-txt ZONFI BASIC
				.product-basic-info-area
					.product-info-tab
						.tab.basic-tab-btn.act#productBasicBtn1
							span ZONFI 70
						.tab.basic-tab-btn#productBasicBtn2
							span ZONFI 100
						.tab.basic-tab-btn#productBasicBtn3
							span ZONFI 110
					.product-basic-info-sw-cont
						.product-basic-info-sw#productBasicInfoSw
							.swiper-wrapper
								.swiper-slide
									.product-basic-info
										.basic-info-txt-box
											.basic-info-txt
												.title 產品尺寸
												.list-group
													//- {'tit':'','cont':''},
													-const productLis1=[{'tit':'產品外徑','cont':'高 650 x 寬 570 x 深 675'}, {'tit':'產品內徑','cont':'高 650 x 寬 570 x 深 675 (mm)  ＊深度含把手'}, {'tit':'門板厚度','cont':'高 500 x 寬 405 x 深 355 (mm)'}, {'tit':'櫃壁厚度','cont':'320 公斤'}, {'tit':'鋼板材質','cont':'隔板 1 個'}, {'tit':'產品重量','cont':'320 公斤'}];
													+productListBox(productLis1)
												.title 安全
												.list-group
													-const productLis2=[{'tit':'門閂規格','cont':'高 650 x 寬 570 x 深 675'}, {'tit':'認證等級','cont':'UL 等級'}, {'tit':'防火性能','cont':'水泥'}, {'tit':'安全螺絲','cont':'地面 / 牆面'}, {'tit':'重鎖類型','cont':'鑰匙 / 回火冶煉玻璃'}, {'tit':'防盜結構','cont':'UL 等級'}, {'tit':'防鑽鋼板','cont':'鋼板學名'}];
													+productListBox(productLis2)
												.title 外部
												.list-group
													-const productLis3=[{'tit':'鎖具','cont':'外型描述、材質、表面處理'}, {'tit':'把手','cont':'外型描述、材質、表面處理'}, {'tit':'門鉸','cont':'外型描述、材質、表面處理'}, {'tit':'烤漆','cont':'烤漆種類'}];
													+productListBox(productLis3)
												.title 內部
												.list-group
													-const productLis4=[{'tit':'壁面','cont':'顏色、紋路'}, {'tit':'層板','cont':'改層板數量'}, {'tit':'燈條','cont':'改燈條數量'}, {'tit':'內飾','cont':'可訂製'}];
													+productListBox(productLis4)
												.list-note-group
													-const productLis5=[{'tit':'複合功能','cont':'如金庫要放在櫃內，建議櫃子高寬深尺寸多加 4 cm，以確保金庫可以放入。'},{'tit':'備註說明','cont':'如金庫要放在櫃內，建議櫃子高寬深尺寸多加 4 cm，以確保金庫可以放入。'}];
													+productListBox(productLis5)
										.basic-more-btn
											span VIEW MORE
										.basic-btn-box
											.basic-btn.proBigBtn(data-imgurl="img/product_inner1.jpg")
												span 2D Specification
											.basic-btn
												span ZONFI Category
								.swiper-slide
									.product-basic-info
										.basic-info-txt-box
											.basic-info-txt
												.title 產品尺寸-2
												.list-group
													+productListBox(productLis1)
												.title 安全
												.list-group
													+productListBox(productLis2)
												.title 外部
												.list-group
													+productListBox(productLis3)
												.title 內部
												.list-group
													+productListBox(productLis4)
												.list-note-group
													+productListBox(productLis5)
										.basic-more-btn
											span VIEW MORE
										.basic-btn-box
											.basic-btn.proBigBtn(data-imgurl="img/product2.jpg")
												span 2D Specification
											.basic-btn
												span ZONFI Category		
								.swiper-slide
									.product-basic-info
										.basic-info-txt-box
											.basic-info-txt
												.title 產品尺寸-3
												.list-group
													+productListBox(productLis1)
												.title 安全
												.list-group
													+productListBox(productLis2)
												.title 外部
												.list-group
													+productListBox(productLis3)
												.title 內部
												.list-group
													+productListBox(productLis4)
												.list-note-group
													+productListBox(productLis5)
										.basic-more-btn
											span VIEW MORE
										.basic-btn-box
											.basic-btn.proBigBtn(data-imgurl="img/product_inner1.jpg")
												span 2D Specification
											.basic-btn
												span ZONFI Category
		.product-part-area
			.product-part-side
				.part-dot-area
					.part-dot-box#areaBtn1
						span 工藝技術
					.part-dot-box#areaBtn2
						span 支援服務
					.part-dot-box#areaBtn3
						span 關於我們
			.product-part-cont
				.product-part-cont1#area1
					.product-part-tab-box
						.product-info-tab#productPartTab
							.swiper-wrapper
								.swiper-slide
									.tab.pro-part-one-btn.act#proPartOneBtn1
										span 焊接工藝
								.swiper-slide
									.tab.pro-part-one-btn#proPartOneBtn2
										span 手工打造
								.swiper-slide
									.tab.pro-part-one-btn#proPartOneBtn3
										span 安全
					.product-part-one-area
						.product-part-one-info-cont
							.product-part-one-info-sw#productPartOneInfoSw
								.swiper-wrapper
									.swiper-slide
										.product-part-one-info
											.tit DELICATE<br>TECHNIQUE
											.cont
												p 日寶匠人採用滿焊（連續焊）焊接法，將兩塊鋼板拼接，把一條焊縫全部焊滿，強度較高、做工仔細，將整體精緻度以及安全性大幅提升。這是保險櫃的宿命。
												p 以家具工藝標準來衡量保險櫃相當不公平的地方，但是一般人不會知道的痛點。所以感覺更需要去強調，在這麼吃虧的條件下我們還做到這樣。也傳遞解釋一個觀念：櫃體上非絕對的直線或不完美的角落、平面，背後是有其有意義的理由安全，而非做工不良。
									.swiper-slide
										.product-part-one-info
											.tit DELICATE<br>TECHNIQUE 2
											.cont
												p 日寶匠人採用滿焊（連續焊）焊接法，將兩塊鋼板拼接，把一條焊縫全部焊滿，強度較高、做工仔細，將整體精緻度以及安全性大幅提升。這是保險櫃的宿命。
												p 以家具工藝標準來衡量保險櫃相當不公平的地方，但是一般人不會知道的痛點。所以感覺更需要去強調，在這麼吃虧的條件下我們還做到這樣。也傳遞解釋一個觀念：櫃體上非絕對的直線或不完美的角落、平面，背後是有其有意義的理由安全，而非做工不良。
									.swiper-slide
										.product-part-one-info
											.tit DELICATE<br>TECHNIQUE 3
											.cont
												p 日寶匠人採用滿焊（連續焊）焊接法，將兩塊鋼板拼接，把一條焊縫全部焊滿，強度較高、做工仔細，將整體精緻度以及安全性大幅提升。這是保險櫃的宿命。
												p 以家具工藝標準來衡量保險櫃相當不公平的地方，但是一般人不會知道的痛點。所以感覺更需要去強調，在這麼吃虧的條件下我們還做到這樣。也傳遞解釋一個觀念：櫃體上非絕對的直線或不完美的角落、平面，背後是有其有意義的理由安全，而非做工不良。
						.product-part-one-img-cont
							.product-part-one-img-sw#productPartOneImgSw
								.swiper-wrapper
									.swiper-slide
										.product-part-one-img
											.product-sw-btn
											.info-txt
												.tit 氧乙炔焊 VS 氬弧焊 1
												.cont
													p 市面上的氬弧焊接法，像膠水將銅板彼此黏著，成品不易變形、焊痕細緻，但強度低，也會因焊接造成粉塵汙染等問題。
													p 日寶嚴用氧乙炔焊接法，是手工將鋼板熔蝕再融合，成品堅固耐用、不易破碎斷裂，最後再以補土打磨提升美觀程度。
											img(src="img/product4.jpg", alt="")
									.swiper-slide
										.product-part-one-img
											.product-sw-btn
											.info-txt
												.tit 氧乙炔焊 VS 氬弧焊 2
												.cont
													p 市面上的氬弧焊接法，像膠水將銅板彼此黏著，成品不易變形、焊痕細緻，但強度低，也會因焊接造成粉塵汙染等問題。
													p 日寶嚴用氧乙炔焊接法，是手工將鋼板熔蝕再融合，成品堅固耐用、不易破碎斷裂，最後再以補土打磨提升美觀程度。
											img(src="img/product4.jpg", alt="")
									.swiper-slide
										.product-part-one-img
											.product-sw-btn
											.info-txt
												.tit 氧乙炔焊 VS 氬弧焊 3
												.cont
													p 市面上的氬弧焊接法，像膠水將銅板彼此黏著，成品不易變形、焊痕細緻，但強度低，也會因焊接造成粉塵汙染等問題。
													p 日寶嚴用氧乙炔焊接法，是手工將鋼板熔蝕再融合，成品堅固耐用、不易破碎斷裂，最後再以補土打磨提升美觀程度。
											img(src="img/product4.jpg", alt="")
				.product-part-cont2#area2
					.product-part-tit Our Services from Design, Manufacturing to Quality Assurance.
					.product-part-two-info-cont
						.product-part-two-info-sw#productPartTwoInfoSw
							.swiper-wrapper
								.swiper-slide
									-const partTwoInfo1={'en':'ZONFI SECRETARY','zh':'隱私服務','cont':'專屬會員系統，登記會員個人資料。每一次進行保險櫃移機、開啟、變更密碼等售後服務時，皆由專業團隊逐一核對申請人資訊、確認主要擁有人意願後方進行，以維護顧客的保險櫃安全性。'};
									+partTwoInfo(partTwoInfo1)
								.swiper-slide
									-const partTwoInfo2={'en':'ZONFI CARE','zh':'技術團隊','cont':'有關 ZONFI 的疑問，只需透過聯絡專線聯繫專屬服務人員，將盡速為您做線上初步評估、安排維修時程，並派遣受過完整訓練的資深技師團隊到府服務。'};
									+partTwoInfo(partTwoInfo2)
								.swiper-slide
									-const partTwoInfo3={'en':'ZONFI PROMISE','zh':'售後保障','cont':'獨家提供十年原廠零件保證，凡購買起十年內，保證有相同零件可替換，並享同業最長三年以上保固，保固期間內享免費維修。'};
									+partTwoInfo(partTwoInfo3)
						.sw-btn-box
							.sw-btn.prev#partTwoPrev
							.sw-btn.next#partTwoNext
				.product-part-cont3#area3
					.product-part-about-area
						.product-part-about-img
							.part-about-img
								img(src="img/product5.jpg", alt="")
						.product-part-about-info
							.tit-box
								.sup 造櫃理念
								.tit.en CREATE INFINITY
							.cont
								.bt 在有限空間 創造無限寬廣感受
								p 創造融於環境，不切割空間、無壓、讓視覺可以延伸、通透的雕塑物。從整個櫃體外部雛形至櫃上與櫃內的細節和零件都貫徹以上概念。
								p 360 度皆可被觀賞、表面沒有死角、多餘綴飾。以擺在空間的中央為定位，想像氣流能夠順暢的在其周圍流通。
					.product-part-about-area
						.product-part-about-img
							.part-about-img
								img(src="img/product6.jpg", alt="")
						.product-part-about-info
							.tit-box
								.sup ZONFI 我們的故事
								.tit.zh 2021 年創立於台灣台北，由一群對於未來居家有相同願景的夥伴組成。
							.cont
								p 在越來越擁擠的世界，更多的空間是人們心中的嚮往。試著想像一下物體與空間的關係。是空間承載著物品還是物品融於空間，兩種不同的觀點，影響著空間的開闊性與可能性。
								p 如何在有限的空間創造出無限寬廣感受，物品本身又能體現出使用者的風格，是我們不斷探討的議題。
			.product-part-mb-tab-area
				.part-mb-tab.act#areaMbBtn1 工藝技術
				.part-mb-tab#areaMbBtn2 支援服務
				.part-mb-tab#areaMbBtn3 關於我們
		//- footer
		include includes/footer

script.
	var basicOneTabArea,basicTwoTabArea,productInfoMbTab;
	var mbW = 767;
	$(document).ready(function(){
		//=== banner video ===
		var video = document.getElementById("bannerVideo");
		$('#stop').on('click',function(){
			$(this).hide();
			$('#play').show();
			video.pause();
		});
		$('#play').on('click',function(){
			$(this).hide();
			$('#stop').show();
			video.play();
		});
		//=== 產品介紹 ===
		$(document).on('click','.product-sw-btn',function(){
			var $cont=$(this).next();
			var isShow=$cont.is(':visible');
			//- console.log(isShow);
			isShow ? $cont.fadeOut():$cont.fadeIn();
			isShow ? $(this).removeClass('on'):$(this).addClass('on');
		});

		//=== productSw1 ===
		//= 切換英文標題文字 =
		var productSwEnTitList1=[];
		$('#productSw1').find('.product-sw-txt').each((ind,val)=>{
			var enTit=$(val).data('entit');
			var mbTxt=$(val).find('p').html();
			productSwEnTitList1.push({enTit,mbTxt});
		});

		var productSw1 = new Swiper('#productSw1', {
			slidesPerView: 1,//1.975 , 2
			spaceBetween: 0,//-100 , -120
			speed: 800,
			loop: true,
			parallax: true,
			loopAdditionalSlides: 1,
			//- watchSlidesProgress: true,
			centeredSlides: true,
			//- noSwipingClass:'product-sw-txt',
			//- navigation: {
			//- 	nextEl: "#customerPromiseNext",
			//- 	prevEl: "#customerPromisePrev",
			//- },
		});
		//== 手機文字 ==
		//- var productMbInfoSw1 = new Swiper('#productMbInfoSw1', {
		//- 	slidesPerView: 1,//1.975 , 2
		//- 	spaceBetween: 20,//-100 , -120
		//- 	speed: 800,
		//- 	loop: true,
		//- });

		//== tab click ==
		$('#basicOneTabArea').find('.tab').each(function(){
			$(this).on('click',function(){
				var id = $(this).attr('id');
				var num = id.replace('basicOneTab','');
				var swInd = Number(num)+1;//loop的話要用+1 , 沒有loop用-1
				$('#basicOneTabArea').find('.tab').removeClass('act');
				$(this).addClass('act');
				productSw1.slideTo(swInd);
			});
		});
		productSw1.on('slideChange',(item)=>{
			const sliderAct = productSw1.realIndex;
			//- console.log(sliderAct);
			var tabNum1=Number(sliderAct)+1;
			//- console.log(tabNum1);
			$('#basicOneTabArea').find('.tab').removeClass('act');
			$('#basicOneTab'+tabNum1).addClass('act');
			//= 移除文字點開狀態 =
			$('#productSw1').find('.product-sw-txt').fadeOut();
			$('#productSw1').find('.product-sw-btn').removeClass('on');
			//= 更換英文標題字 =
			//- $('#productSwTit1').html(productSwEnTitList1[sliderAct].enTit);
			//= 手機sw滑動tab =
			var windowW=$(window).width();
			if(windowW < mbW){
				basicOneTabArea.slideTo(sliderAct);
			}
			//= 手機滑動文字 =
			//- productMbInfoSw1.slideTo(sliderAct);
		});
		//loop無法使用雙向控制會壞掉
		//- productMbInfoSw1.on('slideChange',()=>{
		//- 	var sliderAct = productMbInfoSw1.realIndex;
		//- 	productSw1.slideTo(sliderAct);
		//- });

		//=== productSw2 ===
		var productSwEnTitList2=[];
		$('#productSw2').find('.product-sw-txt').each((ind,val)=>{
			var enTit=$(val).data('entit');
			var mbTxt=$(val).find('p').html();
			productSwEnTitList2.push({enTit,mbTxt});
		});

		var productSw2 = new Swiper('#productSw2', {
			slidesPerView: 1,//1.975 , 2
			spaceBetween: 0,//-100 , -120
			speed: 800,
			loop: true,
			parallax: true,
			loopAdditionalSlides: 1,
			centeredSlides: true,
			//- noSwipingClass:'product-sw-txt',
		});
		//== 手機文字 ==
		//- var productMbInfoSw2 = new Swiper('#productMbInfoSw2', {
		//- 	slidesPerView: 1,//1.975 , 2
		//- 	spaceBetween: 20,//-100 , -120
		//- 	speed: 800,
		//- 	loop: true,
		//- });

		//== tab click ==
		$('#basicTwoTabArea').find('.tab').each(function(){
			$(this).on('click',function(){
				var id = $(this).attr('id');
				var num = id.replace('basicTwoTab','');
				var swInd = Number(num)+1;//loop的話要用+1 , 沒有loop用-1
				$('#basicTwoTabArea').find('.tab').removeClass('act');
				$(this).addClass('act');
				productSw2.slideTo(swInd);
			});
		});
		productSw2.on('slideChange',()=>{
			const sliderAct = productSw2.realIndex;
			//- console.log(sliderAct);
			var tabNum1=Number(sliderAct)+1;
			//- console.log(tabNum1);
			$('#basicTwoTabArea').find('.tab').removeClass('act');
			$('#basicTwoTab'+tabNum1).addClass('act');

			$('#productSw2').find('.product-sw-txt').fadeOut();
			$('#productSw2').find('.product-sw-btn').removeClass('on');
			//= 更換英文標題字 =
			//- $('#productSwTit2').html(productSwEnTitList2[sliderAct].enTit);
			//= 手機sw滑動tab =
			var windowW=$(window).width();
			if(windowW < mbW){
				basicTwoTabArea.slideTo(sliderAct);
			}
			//= 手機滑動文字 =
			//- productMbInfoSw2.slideTo(sliderAct);
		});
		//- productMbInfoSw2.on('slideChange',()=>{
		//- 	var sliderAct = productMbInfoSw2.realIndex;
		//- 	//- productSw2.slideTo(sliderAct);
		//- });

		//=== product basic Tab ===
		basicOneTabArea = new Swiper('#basicOneTabArea', {
			slidesPerView: 'auto',
			spaceBetween: 20,
			speed: 800,
			freeMode: true,
		});
		basicTwoTabArea = new Swiper('#basicTwoTabArea', {
			slidesPerView: 'auto',
			spaceBetween: 20,
			speed: 800,
			freeMode: true,
		});

		//=== ZONFI BASIC ===
		productInfoMbTab = new Swiper('#productInfoMbTab', {
			slidesPerView: 'auto',
			spaceBetween: 20,
			speed: 800,
			freeMode: true,
		});

		var productBasicImgSw = new Swiper('#productBasicImgSw', {
			slidesPerView: 1,
			spaceBetween: 0,
			speed: 800,
		});

		var productBasicInfoSw = new Swiper('#productBasicInfoSw', {
			slidesPerView: 1,
			spaceBetween: 20,
			speed: 800,
		});

		productBasicImgSw.on('slideChange',()=>{
			const sliderAct1 = productBasicImgSw.realIndex;
			productBasicInfoSw.slideTo(sliderAct1);

			$('.basic-info-txt-box').removeClass('on');
			var tabNum1=Number(sliderAct1+1);
			$('.basic-tab-btn').removeClass('act');
			$('#productBasicBtn'+tabNum1).addClass('act');
			$('.basic-more-btn').removeClass('on');
			//= 手機 =
			$('.basic-mb-tab-btn').removeClass('act');
			$('#productBasicMbBtn'+tabNum1).addClass('act');
			productInfoMbTab.slideTo(sliderAct1);
		});
		productBasicInfoSw.on('slideChange',()=>{
			const sliderAct = productBasicInfoSw.realIndex;
			//- console.log(sliderAct)
			productBasicImgSw.slideTo(sliderAct);

			//- $('.basic-info-txt-box').removeClass('on');
			//- var tabNum=Number(sliderAct+1);
			//- $('.basic-tab-btn').removeClass('act');
			//- $('#productBasicBtn'+tabNum).addClass('act');
		});

		$('.basic-tab-btn').on('click',function(){
			$('.basic-tab-btn').removeClass('act');
			$(this).addClass('act');
			var thisId=$(this).attr('id');
			var idNum=thisId.replace('productBasicBtn','');
			var slideInd=Number(idNum-1);
			productBasicImgSw.slideTo(slideInd);
			productBasicInfoSw.slideTo(slideInd);
		});
		//= 手機 =
		$('.basic-mb-tab-btn').on('click',function(){
			$('.basic-mb-tab-btn').removeClass('act');
			$(this).addClass('act');
			var thisId=$(this).attr('id');
			var idNum=thisId.replace('productBasicMbBtn','');
			var slideInd=Number(idNum-1);
			productBasicImgSw.slideTo(slideInd);
			productBasicInfoSw.slideTo(slideInd);
		});

		//=== basic more btn ===
		$('.basic-more-btn').on('click',function(){
			var $cont=$(this).parent().find('.basic-info-txt-box');
			//- var contH=$(this).parent().find('.basic-info-txt').height();
			var isShow=$cont.hasClass('on');
			if(isShow){
				$cont.removeClass('on');
				//- $cont.removeAttr('style');
				$(this).removeClass('on');
			}else{
				$cont.addClass('on');
				//- $cont.css({'height':contH+'px'});
				$(this).addClass('on');
			}
		});
		//=== proBigBtn ===
		$('.proBigBtn').on('click',function(){
			var imgUrl=$(this).data('imgurl');
			$('#productBigImgBox').fadeIn();
			$('#productBigImg').find('img').attr('src',imgUrl);
			bgFix();
		});
		$('#productBigImgClose').on('click',function(){
			$('#productBigImgBox').fadeOut();
			bgUnFix();
		});

		//=== PRODUCT PART ===
		productPartTab = new Swiper('#productPartTab', {
			slidesPerView: 'auto',
			spaceBetween: 20,
			speed: 800,
			freeMode: true,
		});
		basicTabSet();

		var productPartOneInfoSw = new Swiper('#productPartOneInfoSw', {
			slidesPerView: 1,
			spaceBetween: 20,
			speed: 800,
		});

		var productPartOneImgSw = new Swiper('#productPartOneImgSw', {
			slidesPerView: 1,
			spaceBetween: 0,
			speed: 800,
		});

		productPartOneInfoSw.on('slideChange',()=>{
			const sliderAct = productPartOneInfoSw.realIndex;
			//- console.log(sliderAct)
			productPartOneImgSw.slideTo(sliderAct);

			var tabNum1=Number(sliderAct+1);
			$('.pro-part-one-btn').removeClass('act');
			$('#proPartOneBtn'+tabNum1).addClass('act');

			productPartTab.slideTo(sliderAct);
		});
		productPartOneImgSw.on('slideChange',()=>{
			const sliderAct = productPartOneImgSw.realIndex;
			//- console.log(sliderAct)
			productPartOneInfoSw.slideTo(sliderAct);
		});
		$('.pro-part-one-btn').on('click',function(){
			$('.pro-part-one-btn').removeClass('act');
			$(this).addClass('act');
			var thisId=$(this).attr('id');
			var idNum=thisId.replace('proPartOneBtn','');
			var slideInd=Number(idNum-1);
			productPartOneImgSw.slideTo(slideInd);
			productPartOneInfoSw.slideTo(slideInd);
		});

		var productPartTwoInfoSw = new Swiper('#productPartTwoInfoSw', {
			slidesPerView: 1,
			spaceBetween: 40,
			speed: 800,
			navigation: {
				nextEl: "#partTwoNext",
				prevEl: "#partTwoPrev",
			},
			breakpoints:{
				767:{
					slidesPerView: 2,
					spaceBetween: 40,
				},
				1400:{
					slidesPerView: 2,
					spaceBetween: 60,
				}
			}
		});
	});

	$(window).scroll(function () {
		//=== side scroll act ===
		var windowScrollNum = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
		
		var basicArea2H = $('#basicArea2').offset().top - 100;
		var navH = $('nav').outerHeight();
		var basicArea3H = $('#basicArea3').offset().top - navH;
		windowScrollNum > basicArea2H ? $('#basicArea2').addClass('on'):$('#basicArea2').removeClass('on');
		windowScrollNum > basicArea2H && windowScrollNum < basicArea3H ? $('nav').addClass('wbg'):$('nav').removeClass('wbg');
		//- windowScrollNum > basicArea2H && windowScrollNum < basicArea3H ? $('#blogo').css({'opacity':'1'}):$('#blogo').removeAttr('style');
		//- windowScrollNum > basicArea2H && windowScrollNum < basicArea3H ? $('#wlogo').css({'opacity':'0'}):$('#wlogo').removeAttr('style');
		//- windowScrollNum > basicArea2H && windowScrollNum < basicArea3H ? $('#bPlus').css({'opacity':'1'}):$('#bPlus').removeAttr('style');
		//- windowScrollNum > basicArea2H && windowScrollNum < basicArea3H ? $('#wPlus').css({'opacity':'0'}):$('#wPlus').removeAttr('style');
		
		//== pc ==
		//- var navH = $('nav').outerHeight();
		var navHMar = 5; //navH + 15//多加 5 範圍後，移到這才會被納入範圍 不然會列為上一個內容高度

		var contList=['area3','area2','area1'];
		$.each(contList,function(ind,val){
			//== pc ==
			var areaH = $('#'+val).offset().top - navHMar;//自己的上方高度
			if(windowScrollNum < areaH){
				//=== 因為超過自己會下在自己但還是在上一個的區域，所以要上在下一個上 ===
				//ex:
				//=== 1 === (超過這)
				//= cont 1 =
				//=== 2 === (上滾大於這，不大於上一個，act會在這，但還沒超過 所以要下下一個[array已倒序])
				//= cont 2 =
				// console.log('=== item ===',contList[ind+1]);
				if(contList[ind+1]){//超過第一個之前會找不到下一個，所以要過濾
					var actId = contList[ind+1].replace('area','');
					reSetSideAct('#areaBtn'+actId,'#areaMbBtn'+actId);
				}else{
					//- $('.part-dot-box').removeClass('act');//還沒到第一個要移除狀態
				}
			}else if(windowScrollNum > areaH && ind == 0){
				//= 如果超過，又剛好是第一個，就直接下在自己，因為沒有下一個了 =
				var actId = val.replace('area','');
				reSetSideAct('#areaBtn'+actId,'#areaMbBtn'+actId);
			}
		});
	});

	$(window).resize(function(){
		//=== product basic Tab ===
		basicTabSet();
		var windowW=$(window).width();
		if(windowW < mbW){
			$('.product-sw').find('.product-sw-btn').removeClass('on');
			$('.product-sw').find('.product-sw-txt').removeAttr('style');
		}
	});
	
	//=== 重置側邊狀態和上ACT ===
	function reSetSideAct(id,mbId) {
		$('.part-dot-box').removeClass('act');
		$(id).addClass('act');
		//= 手機 =
		$('.part-mb-tab').removeClass('act');
		$(mbId).addClass('act');
	}
	//=== product basic Tab ===
	function basicTabSet(){
		var windowW = $(window).width();
		if(windowW < mbW){
			//= 手機 =
			if(!basicOneTabArea.enabled){
				basicOneTabArea.enable();
				productInfoMbTab.enable();
				productPartTab.enable();
			}
			if(!basicTwoTabArea.enabled){
				basicTwoTabArea.enable();
			}
			//- if(!basicOneTabArea || basicOneTabArea.destroyed){
			//- 	basicOneTabArea = new Swiper('#basicOneTabArea', {
			//- 		slidesPerView: 'auto',
			//- 		spaceBetween: 20,
			//- 		speed: 800,
			//- 		freeMode: true,
			//- 	});
			//- }
		}else{
			//= PC =
			if(basicOneTabArea.enabled){
				basicOneTabArea.disable();
				productInfoMbTab.disable();
				productPartTab.disable();
			}
			if(basicTwoTabArea.enabled){
				basicTwoTabArea.disable();
			}
			//- if(basicOneTabArea && basicOneTabArea.enabled){
			//- 	basicOneTabArea.destroy();
			//- }
		}
	}