<div class="cookie-box" id="cookieBox"><div class="txt">為增進您的瀏覽體驗，本網站使用 <a href="###">Cookies</a> 進行分析。</div><div class="cookie-btn-box"><div class="cookie-btn">同意</div><div class="cookie-btn disagree">不同意</div></div></div>